<section class="article-main">
    <div class="inner-container">
        <div class="inner-container__left-column">
            {% include "partials/side-menu.html" %}
        </div>
        <div class="inner-container__right-column">
            <div class="layout-with-sidebar">
                <div class="layout-with-sidebar__main">
                    <a href="#" class="article-main__back-link">
                        <svg width="8" height="16" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"/>
                        </svg>
                        Бирка над заголовком
                    </a>
                    <h1 class="article-main__heading">
                        Группа компаний ТАИФ: забота об окружающей среде — в приоритете
                    </h1>
                    <div class="article-main__info">
                        <p class="article-main__info-date">
                            19 августа 2019, 11:54
                        </p>
                        <ul class="article-main__tags-list">
                            <li class="article-main__tags-list-item">
                                <a href="#" class="article-main__tag">
                                    Пресс-релиз
                                </a>
                            </li>
                            <li class="article-main__tags-list-item">
                                <a href="#" class="article-main__tag">
                                    ТАИФ детям
                                </a>
                            </li>
                            <li class="article-main__tags-list-item">
                                <a href="#" class="article-main__tag">
                                    События
                                </a>
                            </li>
                        </ul>
                    </div>
                    <article class="article-main__content">
                        <div class="large-text">
                            Группа компаний «ТАИФ» — крупный российский холдинг, контролирующий большую часть химической, нефтехимической и нефтегазоперерабатывающей отраслей Татарстана.
                        </div>
                        <div class="photo-slider js-photo-slider">
                            <div class="photo-slider__main">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="photo-slider__main-card">
                                                <div class="photo-slider__main-card-image-container">
                                                    <img src="img/photo-slider/1.jpg" alt="" class="photo-slider__main-card-image">
                                                </div>
                                                <p class="photo-slider__main-card-text">
                                                    ТАИФ и Schneider Electric подписали дополнительное соглашение о сотрудничестве.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="photo-slider__main-card">
                                                <div class="photo-slider__main-card-image-container">
                                                    <img src="img/photo-slider/1.jpg" alt="" class="photo-slider__main-card-image">
                                                </div>
                                                <p class="photo-slider__main-card-text">
                                                    ТАИФ и Schneider Electric подписали дополнительное соглашение о сотрудничестве.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="photo-slider__main-card">
                                                <div class="photo-slider__main-card-image-container">
                                                    <img src="img/photo-slider/1.jpg" alt="" class="photo-slider__main-card-image">
                                                </div>
                                                <p class="photo-slider__main-card-text">
                                                    ТАИФ и Schneider Electric подписали дополнительное соглашение о сотрудничестве.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="photo-slider__thumbs">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="photo-slider__thumb-card">
                                                <div class="photo-slider__thumb-card-image-container">
                                                    <img src="img/photo-slider/1.jpg" alt="" class="photo-slider__thumb-card-image">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="photo-slider__thumb-card">
                                                <div class="photo-slider__thumb-card-image-container">
                                                    <img src="img/photo-slider/1.jpg" alt="" class="photo-slider__thumb-card-image">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="photo-slider__thumb-card">
                                                <div class="photo-slider__thumb-card-image-container">
                                                    <img src="img/photo-slider/1.jpg" alt="" class="photo-slider__thumb-card-image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4>
                            Развитие группы компаний
                        </h4>
                        <p>
                            ТАИФ сейчас представляет собой крупнейшую промышленно-инвестиционную компанию, обладающую значительными активами и имеющую мощный производственный потенциал, гибкую форму управления и высокий уровень менеджмента.
                        </p>
                        <img src="img/photo-slider/1.jpg" alt="" width="426" class="image-float-right">
                        <p>
                            Группа компаний «ТАИФ», объединяющая 47 дочерних и зависимых компаний, осуществляет свою деятельность во многих направлениях, пять из которых являются основными: это — нефтегазопереработка и нефтехимия, энергетика, телекоммуникации, строительная индустрия, банковская и инвестиционная сферы и сфера услуг. Все предприятия тесно связаны между собой финансово, технически, технологически и в управлении.
                        </p>
                        <p>
                            Развитие и процветание компании «ТАИФ» и ее дочерних фирм способствует — прямо или косвенно — улучшению состояния экономики, социальной сферы Татарстана и, в конечном итоге, благополучию его жителей. Быть в первых рядах предприятий, обеспечивающих прогресс Татарстана и России — это и есть миссия «ТАИФ».
                        </p>
                        <blockquote class="blockquote">
                            <svg width="30" height="24" aria-hidden="true" class="icon-quotes">
                                <use xlink:href="#quotes"/>
                            </svg>
                            <p class="blockquote__text">
                                Группа компаний «ТАИФ» — крупный российский холдинг, контролирующий большую часть химической, нефтехимической и отраслей Татарстана.
                            </p>
                            <footer class="blockquote__footer">
                                <img src="img/article/minikhan.jpg" alt="" class="blockquote__author-photo">
                                <div class="blockquote__author-info">
                                    <p class="blockquote__author-name">
                                        Рустем Минниханов
                                    </p>
                                    <p class="blockquote__author-title">
                                        Президент Республики Татарстан
                                    </p>
                                    <a href="#" class="blockquote__author-link">
                                        Сайт президента
                                    </a>
                                </div>
                            </footer>
                        </blockquote>
                        <h3>
                            Развитие группы компаний
                        </h3>

                        <p>
                            ТАИФ сейчас представляет собой крупнейшую промышленно-инвестиционную компанию, обладающую значительными активами и имеющую мощный производственный потенциал, гибкую форму управления и высокий уровень менеджмента
                        </p>
                        <div class="floated-right-block">
                            Группа компаний «ТАИФ» — крупный российский холдинг, контролирующий большую нефтехимической и отраслей Татарстана.
                        </div>
                        <p>
                            Группа компаний «ТАИФ», объединяющая 47 дочерних и зависимых компаний, осуществляет свою деятельность во многих направлениях, пять из которых являются основными: это — нефтегазопереработка и нефтехимия, энергетика, телекоммуникации, строительная индустрия, банковская ить из которых являются основными: это — нефтегазопереработка и нефтехимия,
                        </p>

                        <p>
                            компании «ТАИФ» и ее дочерних фирм способствует — прямо или косвенно — улучшению состояния экономики, социальной сферы Татарстана и, в конечном итоге, благополучию его жителей. Быть в первых рядах предприятий, обеспечивающих прогресс Татарстана и России — это и есть миссия «ТАИФ».
                        </p>
                        <p>
                            <b>— Скажите, как вы этого добились?</b>
                        </p>
                        <p>
                            ТАИФ сейчас представляет собой крупнейшую промышленно-инвестиционную компанию, обладающую значительными активами и имеющую мощный производственный потенциал, гибкую форму управления и высокий уровень менеджмента
                        </p>
                        <p>
                            <b>
                                — Скажите, как вы этого добились?
                            </b>
                        </p>
                        <p>
                            ТАИФ сейчас представляет собой крупнейшую промышленно-инвестиционную компанию, обладающую значительными активами и имеющую мощный производственный потенциал, гибкую форму управления и высокий уровень менеджмента
                        </p>
                        <h3>
                            Маркированный список
                        </h3>
                        <ul>
                            <li>
                                Знаки препинания в конце элементов такого списка не ставятся
                            </li>
                            <li>
                                Так появилось понятие «ТАИФ» — один из первых татарстанских брэндов, популярная торговая марка, символ благородной силы и высокого качества работы
                            </li>
                            <li>
                                Доминирующим направлением деятельности ТАИФа, как и планировалось, стала реализация инвестиционных программ, имеющих приоритетное значение для экономики Татарстана и России
                            </li>
                        </ul>
                        <h3>
                            Заголовок нумерованного списка. Может быть длиной в несколько строк
                        </h3>
                        <ol>
                            <li>
                                <h5>
                                    Химия и нефтехимия
                                </h5>
                                <p>
                                    Доминирующим направлением деятельности ТАИФа, как и планировалось, стала реализация инвестиционных программ, имеющих приоритетное значение для экономики Татарстана и России.
                                </p>
                            </li>
                            <li>
                                <h5>
                                    Нефтегазопереработка
                                </h5>
                                <p>
                                    Так появилось понятие «ТАИФ» — один из первых татарстанских брэндов, популярная торговая марка, символ благородной силы и высокого качества работы.
                                </p>
                            </li>
                            <li>
                                <h5>
                                    Строительство
                                </h5>
                                <p>
                                    Сегодня в Группе компаний ТАИФ трудится 38 тысяч человек.
                                </p>
                            </li>
                        </ol>
                        <div class="info-card">
                            <h2>
                                Справка
                            </h2>
                            <p>
                                История ТАИФа начинается с создания в 1990 году внешнеторгового научно-производственного объединения «Казань», делавшего первые шаги в бизнесе в сложный период становления нового российского государства. Именно на базе этого небольшого, но очень профессионального коллектива в августе 1995 года было образовано открытое акционерное общество «ТАИФ». В начале пути в ВТНПО «Казань» работало всего три человека. Сегодня в Группе компаний ТАИФ трудится 38 тысяч человек.
                            </p>
                            <h3>Заголовок 3-го уровня.</h3>
                            <p>
                                Доминирующим направлением деятельности ТАИФа, как и планировалось, стала реализация инвестиционных программ, имеющих приоритетное значение для экономики
                                <a href="#">Татарстана и России</a>. Компания не только росла и развивалась вместе с рынком, но и оказывала влияние на его становление и формирование. Так появилось понятие «ТАИФ» — один из первых татарстанских брэндов, популярная торговая марка, символ благородной силы и высокого качества работы.
                            </p>

                        </div>

                    </article>
                </div>
                <div class="layout-with-sidebar__sidebar layout-with-sidebar__sidebar--narrow">
                    {% include "sidebar-blocks/sidebar-other-news.html" %}
                </div>
            </div>
        </div>
    </div>
</section>