<section class="info-cards">
    <div class="inner-container">
        <div class="inner-container__left-column"></div>
        <div class="inner-container__right-column">
            <h2 class="info-cards__heading">
                информация
            </h2>
            <div class="info-cards__content">
                <ul class="info-cards__list">
                    <li class="info-cards__list-item">
                        <div class="info-cards__card">
                            <div class="info-cards__stocks js-stocks-card">
                                <a href="#" class="info-cards__stocks-top-section">
                                    <div class="info-cards__stocks-emitent-info-row">
                                        <div class="info-cards__stocks-emitent-selection">
                                            <p class="info-cards__stocks-emitent-selection-ticker">
                                              
                                                <svg width="16" height="8" aria-hidden="true" class="icon-arrow-down">
                                                    <use xlink:href="#arrow-down"/>
                                                </svg>
                                            </p>
    
                                        </div>
                                        <div class="info-cards__stocks-price">
                                            <p class="info-cards__stocks-price-amount">
                                                
                                            </p>
                                            <p class="info-cards__stocks-price-dynamics">
                                               
                                            </p>
                                        </div>
                                    </div>

                                    <p class="info-cards__stocks-emitent-selection-name">
                                       
                                    </p>
                                </a>
                                <div class="info-cards__stocks-bottom-section">
                                    <canvas></canvas>
                                </div>
                                <div class="info-cards__stocks-selector">
                                    <ul class="info-cards__stocks-selector-list">
                                        {# <li class="info-cards__stocks-selector-list-item">
                                            <a href="#" class="info-cards__stocks-selector-btn">
                                                <span class="info-cards__stocks-selector-btn-ticker">
                                                    NKNC
                                                </span>
                                                <span class="info-cards__stocks-selector-btn-description">
                                                    Нижнекамскнефтехим, обычная акция
                                                </span>
                                            </a>
                                        </li>
                                        <li class="info-cards__stocks-selector-list-item">
                                            <a href="#" class="info-cards__stocks-selector-btn">
                                                <span class="info-cards__stocks-selector-btn-ticker">
                                                    KZOS
                                                </span>
                                                <span class="info-cards__stocks-selector-btn-description">
                                                    Казаньоргсинтез, обычная акция
                                                </span>
                                            </a>
                                        </li> #}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="info-cards__list-item">
                        <div class="info-cards__card">
                            <div class="info-cards__hotline">
                                <p class="info-cards__hotline-text">
                                    Горячая линия по вопросам противодействия мошенничеству, коррупции и хищениям
                                </p>
                                <a href="tel:+78003331009" class="info-cards__hotline-phone-number">8 800 333-10-09</a>
                                <p class="info-cards__hotline-remark">
                                    Номер вашего телефона не определится. Звонок бесплатный
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="info-cards__list-item">
                        <div class="info-cards__card info-cards__card--no-border">
                            <a href="#" class="info-cards__financial-report">
                                <img src="img/info-cards/financial-report.jpg" alt="Картинка финансовый отчет" class="info-cards__financial-report-image" style="opacity: .6;">
                                <h4 class="info-cards__financial-report-heading">
                                    Годовой отчет группы компаний ТАИФ
                                </h4>
                                <div class="info-cards__financial-report-bottom-row">
                                    <span class="info-cards__financial-report-year">
                                        2019
                                    </span>
                                    <span class="info-cards__financial-report-circle">
                                        <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"/>
                                        </svg>
                                    </span>
                                </div>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>