<section class="intro-slider js-intro-slider">
    <div class="intro-slider__backgrounds-wrapper">
        <ul class="intro-slider__backgrounds-list">
            <li class="intro-slider__backgrounds-list-item">
                <div class="intro-slider__backgrounds-card">
                    <img src="img/intro-slider/charity@2x.jpg" alt="Фон слайдера">
                </div>
            </li>
            <li class="intro-slider__backgrounds-list-item">
                <div class="intro-slider__backgrounds-card">
                    <img src="img/intro-slider/taif-hq.jpg" alt="Фон слайдера">
                </div>
            </li>
            <li class="intro-slider__backgrounds-list-item">
                <div class="intro-slider__backgrounds-card">
                    <img src="img/intro-slider/charity@2x.jpg" alt="Фон слайдера">
                    <video muted playsinline autoplay poster="assets/videos/video-snapshot.jpg" >
                        <source src="assets/videos/taif-nk.mp4" type="video/mp4">
                        <source src="assets/videos/taif-nk.webm" type="video/webm">
                    </video>
                </div>
            </li>
            <li class="intro-slider__backgrounds-list-item">
                <div class="intro-slider__backgrounds-card">
                    <img src="img/intro-slider/taif-hq.jpg" alt="Фон слайдера">
                </div>
            </li>
            <li class="intro-slider__backgrounds-list-item">
                <div class="intro-slider__backgrounds-card">
                    <img src="img/intro-slider/charity@2x.jpg" alt="Фон слайдера">
                </div>
            </li>
        </ul>
    </div>
    <div class="intro-slider__contents">
        <div class="inner-container">
            <div class="inner-container__left-column"></div>
            <div class="inner-container__right-column inner-container__right-column--flex">
                <ul class="intro-slider__contents-list">
                    <li class="intro-slider__contents-list-item">
                        <div class="intro-slider__contents-card">
                            <div class="intro-slider__description">
                                <div class="intro-slider__description-text">
                                    <p>
                                        <strong>Производство</strong>
                                        — это ТАИФ и Schneider Electric подписали дополнительное соглашение о стратегическом сотрудничестве
                                    </p>
                                </div>
                                <a href="#" class="intro-slider__description-link">
                                    <span class="intro-slider__description-link-text">
                                        Узнать больше
                                    </span>
                                    <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="card-slider js-card-slider">
                                <button class="card-slider__button card-slider__button--prev">
                                    <span class="card-slider__button-content">
                                        <svg width="8" height="16" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#arrow-left"/>
                                        </svg>
                                    </span>
                                </button>
                                <div class="card-slider__wrapper">
                                    <div class="card-slider__slide">
                                        <a href="#" class="card-slider__card">
                                            <img src="img/invest/invest-1.jpg" alt="Картинка внутреннего слайдера" class="card-slider__card-image">

                                            <div class="card-slider__card-label">
                                                Инвест-проект
                                            </div>
                                            <div class="card-slider__card-content">
                                                <h4 class="card-slider__card-heading">
                                                    Строительство завода НПЗ «Каучук»
                                                </h4>
                                                <p class="card-slider__card-text">
                                                    ТАИФ и Schneider Electric подписали дополнительное соглашение о стратегическом сотрудничестве
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="card-slider__slide">
                                        <a href="#" class="card-slider__card card-slider__card--white">
                                            <img src="img/invest/invest-1.jpg" alt="Картинка внутреннего слайдера" class="card-slider__card-image">

                                            <div class="card-slider__card-label">
                                                Инвест-проект
                                            </div>
                                            <div class="card-slider__card-content">
                                                <h4 class="card-slider__card-heading">
                                                    Строительство завода НПЗ «Каучук»
                                                </h4>
                                                <p class="card-slider__card-text">
                                                    ТАИФ и Schneider Electric подписали дополнительное соглашение о стратегическом сотрудничестве
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="card-slider__slide">
                                        <a href="#" class="card-slider__card">
                                            <img src="img/invest/kos.jpg" alt="Картинка внутреннего слайдера" class="card-slider__card-image">

                                            <div class="card-slider__card-label">
                                                Инвест-проект
                                            </div>
                                            <div class="card-slider__card-content">
                                                <h4 class="card-slider__card-heading">
                                                    Строительство завода НПЗ «Каучук»
                                                </h4>
                                                <p class="card-slider__card-text">
                                                    ТАИФ и Schneider Electric подписали дополнительное соглашение о стратегическом сотрудничестве
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="card-slider__slide">
                                        <a href="#" class="card-slider__card card-slider__card--white">
                                            <img src="img/invest/kos.jpg" alt="Картинка внутреннего слайдера" class="card-slider__card-image">

                                            <div class="card-slider__card-label">
                                                Инвест-проект
                                            </div>
                                            <div class="card-slider__card-content">
                                                <h4 class="card-slider__card-heading">
                                                    Строительство завода НПЗ «Каучук»
                                                </h4>
                                                <p class="card-slider__card-text">
                                                    ТАИФ и Schneider Electric подписали дополнительное соглашение о стратегическом сотрудничестве
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-slider__pagination"></div>
                                <button class="card-slider__button card-slider__button--next">
                                    <span class="card-slider__button-content">
                                        <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"/>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="intro-slider__contents-list-item">
                        <div class="intro-slider__contents-card">
                            <div class="intro-slider__description">
                                <div class="intro-slider__description-text">
                                    <p>
                                        <strong>Благотворительность</strong>
                                        — это ТАИФ и Schneider Electric подписали дополнительное соглашение о стратегическом сотрудничестве
                                    </p>
                                    {# <p>
                                        <strong>Второй</strong> абзац для демонстрации
                                    </p> #}
                                </div>
                                <a href="#" class="intro-slider__description-link">
                                    <span class="intro-slider__description-link-text">
                                        Узнать больше
                                    </span>
                                    <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="card-slider js-card-slider">
                                <button class="card-slider__button card-slider__button--prev">
                                    <span class="card-slider__button-content">
                                        <svg width="8" height="16" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#arrow-left"/>
                                        </svg>
                                    </span>
                                </button>
                                <div class="card-slider__wrapper">
                                    <div class="card-slider__slide">
                                        <a href="#" class="card-slider__card">
                                            <img src="img/invest/invest-1.jpg" alt="Картинка внутреннего слайдера" class="card-slider__card-image">

                                            <div class="card-slider__card-label">
                                                Инвест-проект
                                            </div>
                                            <div class="card-slider__card-content">
                                                <h4 class="card-slider__card-heading">
                                                    Строительство завода НПЗ «Каучук»
                                                </h4>
                                                <p class="card-slider__card-text">
                                                    ТАИФ и Schneider Electric подписали дополнительное соглашение о стратегическом сотрудничестве
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="card-slider__slide">
                                        <a href="#" class="card-slider__card card-slider__card--white">
                                            <img src="img/invest/invest-1.jpg" alt="Картинка внутреннего слайдера" class="card-slider__card-image">

                                            <div class="card-slider__card-label">
                                                Инвест-проект
                                            </div>
                                            <div class="card-slider__card-content">
                                                <h4 class="card-slider__card-heading">
                                                    Строительство завода НПЗ «Каучук»
                                                </h4>
                                                <p class="card-slider__card-text">
                                                    ТАИФ и Schneider Electric подписали дополнительное соглашение о стратегическом сотрудничестве
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="card-slider__slide">
                                        <a href="#" class="card-slider__card">
                                            <img src="img/invest/kos.jpg" alt="Картинка внутреннего слайдера" class="card-slider__card-image">

                                            <div class="card-slider__card-label">
                                                Инвест-проект
                                            </div>
                                            <div class="card-slider__card-content">
                                                <h4 class="card-slider__card-heading">
                                                    Строительство завода НПЗ «Каучук»
                                                </h4>
                                                <p class="card-slider__card-text">
                                                    ТАИФ и Schneider Electric подписали дополнительное соглашение о стратегическом сотрудничестве
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="card-slider__slide">
                                        <a href="#" class="card-slider__card card-slider__card--white">
                                            <img src="img/invest/kos.jpg" alt="Картинка внутреннего слайдера" class="card-slider__card-image">

                                            <div class="card-slider__card-label">
                                                Инвест-проект
                                            </div>
                                            <div class="card-slider__card-content">
                                                <h4 class="card-slider__card-heading">
                                                    Строительство завода НПЗ «Каучук»
                                                </h4>
                                                <p class="card-slider__card-text">
                                                    ТАИФ и Schneider Electric подписали дополнительное соглашение о стратегическом сотрудничестве
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-slider__pagination"></div>
                                <button class="card-slider__button card-slider__button--next">
                                    <span class="card-slider__button-content">
                                        <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"/>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="intro-slider__contents-list-item">
                        <div class="intro-slider__contents-card">
                            <div class="intro-slider__description">
                                <div class="intro-slider__description-text">
                                    <p>
                                        <strong>Инвест-проекты</strong>
                                        — это ТАИФ и Schneider Electric подписали дополнительное соглашение о стратегическом сотрудничестве
                                    </p>
                                </div>
                                <a href="#" class="intro-slider__description-link">
                                    <span class="intro-slider__description-link-text">
                                        Узнать больше
                                    </span>
                                    <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="card-slider js-card-slider">
                                <button class="card-slider__button card-slider__button--prev">
                                    <span class="card-slider__button-content">
                                        <svg width="8" height="16" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#arrow-left"/>
                                        </svg>
                                    </span>
                                </button>
                                <div class="card-slider__wrapper">
                                    <div class="card-slider__slide">
                                        <a href="#" class="card-slider__card">
                                            <img src="img/invest/invest-1.jpg" alt="Картинка внутреннего слайдера" class="card-slider__card-image">

                                            <div class="card-slider__card-label">
                                                Инвест-проект
                                            </div>
                                            <div class="card-slider__card-content">
                                                <h4 class="card-slider__card-heading">
                                                    Строительство завода НПЗ «Каучук»
                                                </h4>
                                                <p class="card-slider__card-text">
                                                    ТАИФ и Schneider Electric подписали дополнительное соглашение о стратегическом сотрудничестве
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="card-slider__slide">
                                        <a href="#" class="card-slider__card card-slider__card--white">
                                            <img src="img/invest/invest-1.jpg" alt="Картинка внутреннего слайдера" class="card-slider__card-image">

                                            <div class="card-slider__card-label">
                                                Инвест-проект
                                            </div>
                                            <div class="card-slider__card-content">
                                                <h4 class="card-slider__card-heading">
                                                    Строительство завода НПЗ «Каучук»
                                                </h4>
                                                <p class="card-slider__card-text">
                                                    ТАИФ и Schneider Electric подписали дополнительное соглашение о стратегическом сотрудничестве
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="card-slider__slide">
                                        <a href="#" class="card-slider__card">
                                            <img src="img/invest/kos.jpg" alt="Картинка внутреннего слайдера" class="card-slider__card-image">

                                            <div class="card-slider__card-label">
                                                Инвест-проект
                                            </div>
                                            <div class="card-slider__card-content">
                                                <h4 class="card-slider__card-heading">
                                                    Строительство завода НПЗ «Каучук»
                                                </h4>
                                                <p class="card-slider__card-text">
                                                    ТАИФ и Schneider Electric подписали дополнительное соглашение о стратегическом сотрудничестве
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="card-slider__slide">
                                        <a href="#" class="card-slider__card card-slider__card--white">
                                            <img src="img/invest/kos.jpg" alt="Картинка внутреннего слайдера" class="card-slider__card-image">

                                            <div class="card-slider__card-label">
                                                Инвест-проект
                                            </div>
                                            <div class="card-slider__card-content">
                                                <h4 class="card-slider__card-heading">
                                                    Строительство завода НПЗ «Каучук»
                                                </h4>
                                                <p class="card-slider__card-text">
                                                    ТАИФ и Schneider Electric подписали дополнительное соглашение о стратегическом сотрудничестве
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-slider__pagination"></div>
                                <button class="card-slider__button card-slider__button--next">
                                    <span class="card-slider__button-content">
                                        <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"/>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="intro-slider__contents-list-item">
                        <div class="intro-slider__contents-card">
                            <div class="intro-slider__description">
                                <div class="intro-slider__description-text">
                                    <p>
                                        <strong>Коммуникации</strong>
                                        — это ТАИФ и Schneider Electric подписали дополнительное соглашение о стратегическом сотрудничестве
                                    </p>
                                </div>
                                <a href="#" class="intro-slider__description-link">
                                    <span class="intro-slider__description-link-text">
                                        Узнать больше
                                    </span>
                                    <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="card-slider js-card-slider">
                                <button class="card-slider__button card-slider__button--prev">
                                    <span class="card-slider__button-content">
                                        <svg width="8" height="16" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#arrow-left"/>
                                        </svg>
                                    </span>
                                </button>
                                <div class="card-slider__wrapper">
                                    <div class="card-slider__slide">
                                        <a href="#" class="card-slider__card">
                                            <img src="img/invest/invest-1.jpg" alt="Картинка внутреннего слайдера" class="card-slider__card-image">

                                            <div class="card-slider__card-label">
                                                Инвест-проект
                                            </div>
                                            <div class="card-slider__card-content">
                                                <h4 class="card-slider__card-heading">
                                                    Строительство завода НПЗ «Каучук»
                                                </h4>
                                                <p class="card-slider__card-text">
                                                    ТАИФ и Schneider Electric подписали дополнительное соглашение о стратегическом сотрудничестве
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="card-slider__slide">
                                        <a href="#" class="card-slider__card card-slider__card--white">
                                            <img src="img/invest/invest-1.jpg" alt="Картинка внутреннего слайдера" class="card-slider__card-image">

                                            <div class="card-slider__card-label">
                                                Инвест-проект
                                            </div>
                                            <div class="card-slider__card-content">
                                                <h4 class="card-slider__card-heading">
                                                    Строительство завода НПЗ «Каучук»
                                                </h4>
                                                <p class="card-slider__card-text">
                                                    ТАИФ и Schneider Electric подписали дополнительное соглашение о стратегическом сотрудничестве
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="card-slider__slide">
                                        <a href="#" class="card-slider__card">
                                            <img src="img/invest/kos.jpg" alt="Картинка внутреннего слайдера" class="card-slider__card-image">

                                            <div class="card-slider__card-label">
                                                Инвест-проект
                                            </div>
                                            <div class="card-slider__card-content">
                                                <h4 class="card-slider__card-heading">
                                                    Строительство завода НПЗ «Каучук»
                                                </h4>
                                                <p class="card-slider__card-text">
                                                    ТАИФ и Schneider Electric подписали дополнительное соглашение о стратегическом сотрудничестве
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="card-slider__slide">
                                        <a href="#" class="card-slider__card card-slider__card--white">
                                            <img src="img/invest/kos.jpg" alt="Картинка внутреннего слайдера" class="card-slider__card-image">

                                            <div class="card-slider__card-label">
                                                Инвест-проект
                                            </div>
                                            <div class="card-slider__card-content">
                                                <h4 class="card-slider__card-heading">
                                                    Строительство завода НПЗ «Каучук»
                                                </h4>
                                                <p class="card-slider__card-text">
                                                    ТАИФ и Schneider Electric подписали дополнительное соглашение о стратегическом сотрудничестве
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-slider__pagination"></div>
                                <button class="card-slider__button card-slider__button--next">
                                    <span class="card-slider__button-content">
                                        <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"/>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="intro-slider__contents-list-item">
                        <div class="intro-slider__contents-card">
                            <div class="intro-slider__description">
                                <div class="intro-slider__description-text">
                                    <p>
                                        <strong>Инвест-проекты</strong>
                                        — это ТАИФ и Schneider Electric подписали дополнительное соглашение о стратегическом сотрудничестве
                                    </p>
                                </div>
                                <a href="#" class="intro-slider__description-link">
                                    <span class="intro-slider__description-link-text">
                                        Узнать больше
                                    </span>
                                    <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="card-slider js-card-slider">
                                <button class="card-slider__button card-slider__button--prev">
                                    <span class="card-slider__button-content">
                                        <svg width="8" height="16" aria-hidden="true" class="icon-arrow-left">
                                            <use xlink:href="#arrow-left"/>
                                        </svg>
                                    </span>
                                </button>
                                <div class="card-slider__wrapper">
                                    <div class="card-slider__slide">
                                        <a href="#" class="card-slider__card">
                                            <img src="img/invest/invest-1.jpg" alt="Картинка внутреннего слайдера" class="card-slider__card-image">

                                            <div class="card-slider__card-label">
                                                Инвест-проект
                                            </div>
                                            <div class="card-slider__card-content">
                                                <h4 class="card-slider__card-heading">
                                                    Строительство завода НПЗ «Каучук»
                                                </h4>
                                                <p class="card-slider__card-text">
                                                    ТАИФ и Schneider Electric подписали дополнительное соглашение о стратегическом сотрудничестве
                                                </p>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                                <div class="card-slider__pagination"></div>
                                <button class="card-slider__button card-slider__button--next">
                                    <span class="card-slider__button-content">
                                        <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"/>
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="intro-slider__navigation">
        <div class="inner-container">
            <div class="inner-container__left-column"></div>
            <div class="inner-container__right-column">
                <ul class="intro-slider__navigation-list">
                    <li class="intro-slider__navigation-list-item">
                        <a href="#" class="intro-slider__navigation-link" data-text="Нефтегазопереработка">
                            Нефтегазопереработка
                        </a>
                    </li>
                    <li class="intro-slider__navigation-list-item">
                        <a href="#" class="intro-slider__navigation-link" data-text="Химия и нефтехимия">
                            Химия и нефтехимия
                        </a>
                    </li>
                    <li class="intro-slider__navigation-list-item">
                        <a href="#" class="intro-slider__navigation-link" data-text="Инвест-проекты">
                            Инвест-проекты
                        </a>
                    </li>
                    <li class="intro-slider__navigation-list-item">
                        <a href="#" class="intro-slider__navigation-link" data-text=" Энергетика">
                            Энергетика
                        </a>
                    </li>
                    <li class="intro-slider__navigation-list-item">
                        <a href="#" class="intro-slider__navigation-link" data-text=" Благотворительность">
                            Благотворительность
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>