<section class="learn-more">
    <div class="inner-container">
        <a href="#" class="learn-more__card">
            <picture>
                <source srcset="img/learn-more/learn-more-mobile.jpg" media="(max-width: 768px)">
                <img src="img/learn-more/learn-more-desktop.jpg" alt="" class="learn-more__image">
            </picture>
            <h3 class="learn-more__heading">
                Узнайте больше<br>
                о группе компаний<br>
                «ТаиФ»
            </h3>
            <div class="learn-more__circle">
                <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right"/>
                </svg>
            </div>
        </a>
    </div>
</section>