<section class="press-center-main">
    <div class="inner-container">
        <div class="inner-container__left-column"></div>
        <div class="inner-container__right-column">
            <nav class="press-center-main__navigation">
                <ul class="press-center-main__navigation-list">
                    <li class="press-center-main__navigation-list-item active">
                        <a href="#" class="press-center-main__navigation-link">
                            Актуальное
                        </a>
                    </li>
                    <li class="press-center-main__navigation-list-item">
                        <a href="#" class="press-center-main__navigation-link">
                            Публикации в СМИ
                        </a>
                    </li>
                    <li class="press-center-main__navigation-list-item">
                        <a href="#" class="press-center-main__navigation-link">
                            Пресс-релизы
                        </a>
                    </li>
                    <li class="press-center-main__navigation-list-item">
                        <a href="#" class="press-center-main__navigation-link">
                            Фотоархив
                        </a>
                    </li>
                    <li class="press-center-main__navigation-list-item">
                        <a href="#" class="press-center-main__navigation-link">
                            Видеоархив
                        </a>
                    </li>
                    <li class="press-center-main__navigation-list-item">
                        <a href="#" class="press-center-main__navigation-link">
                            Корпоративная пресса
                        </a>
                    </li>
                    <li class="press-center-main__navigation-list-item">
                        <a href="#" class="press-center-main__navigation-link">
                            Буклеты и презентации
                        </a>
                    </li>
                </ul>
                <form action="/" class="press-center__search-form" method="GET">
                    <input type="search" name="q" placeholder="Найти материал" class="press-center__search-input">
                    <button class="press-center__search-submit">
                        <svg width="28" height="28" aria-hidden="true" class="icon-search">
                            <use xlink:href="#search"/>
                        </svg>
                    </button>
                </form>
            </nav>
            <div class="layout-with-sidebar">
                <div class="layout-with-sidebar__main">
                    <div class="press-center-main__cards">
                        <ul class="press-center-main__cards-list">
                            <li class="press-center-main__cards-list-item">
                                <a href="#" class="press-center-main__cards-card">
                                    <div class="press-center-main__cards-card-image-container">
                                        <img src="img/press-center-cards/1.jpg" alt="" class="press-center-main__cards-card-image">
                                    </div>
                                    <p class="press-center-main__cards-card-date">
                                        26 июня 2019
                                    </p>
                                    <h4 class="press-center-main__cards-card-title">
                                        Благодаря ГК ТАИФ появился современный паркинг почти на тысячу машин
                                    </h4>
                                </a>
                            </li>
                            <li class="press-center-main__cards-list-item">
                                <a href="#" class="press-center-main__cards-card">
                                    <div class="press-center-main__cards-card-image-container">
                                        <img src="img/press-center-cards/2.jpg" alt="" class="press-center-main__cards-card-image">
                                        <span class="press-center-slider__card-label">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-photo">
                                                <use xlink:href="#photo"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <p class="press-center-main__cards-card-date">
                                        26 июня 2019
                                    </p>
                                    <h4 class="press-center-main__cards-card-title">
                                        Благодаря ГК ТАИФ появился современный паркинг почти на тысячу машин
                                    </h4>
                                </a>
                            </li>
                            <li class="press-center-main__cards-list-item">
                                <a href="#" class="press-center-main__cards-special-card">
                                    <p class="press-center-main__cards-special-card-label">
                                        Актуально
                                    </p>
                                    <h4 class="press-center-main__cards-special-card-heading">
                                        Благодаря ГК ТАИФ появился современный паркинг почти на тысячу машин
                                    </h4>
                                    <div class="press-center-main__cards-special-card-text">
                                        Горячая линия по вопросам противодействия мошенничеству, коррупции и хищениям
                                    </div>
                                    <span class="press-center-main__cards-special-card-circle">
                                        <svg width="6" height="10" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"/>
                                        </svg>
                                    </span>
                                </a>
                            </li>
                            <li class="press-center-main__cards-list-item">
                                <a href="#" class="press-center-main__cards-card">
                                    <div class="press-center-main__cards-card-image-container">
                                        <img src="img/press-center-cards/3.jpg" alt="" class="press-center-main__cards-card-image">
                                    </div>
                                    <p class="press-center-main__cards-card-date">
                                        26 июня 2019
                                    </p>
                                    <h4 class="press-center-main__cards-card-title">
                                        «Нижнекамскнефтехим» вручил поисковому отряду «Нефтехимик» металлодетекторы
                                    </h4>
                                </a>
                            </li>
                            <li class="press-center-main__cards-list-item press-center-main__cards-list-item--fullwidth">
                                <div class="press-center-main__slider-card">
                                    <div class="press-center-main__news-slider js-press-center-news-slider">
                                        <div class="swiper-container">

                                            <div class="swiper-wrapper">

                                                <div class="swiper-slide">
                                                    <a href="#" class="press-center-main__news-slider-card">
                                                        <div class="press-center-main__news-slider-card-container">
                                                            <img src="img/press-center-cards/4.jpg" alt="" class="press-center-main__news-slider-card-image">

                                                            <div class="press-center-main__news-slider-card-content-type">
                                                                <svg width="32" height="32" aria-hidden="true" class="icon-play">
                                                                    <use xlink:href="#play"/>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                        <div class="press-center-main__news-slider-card-label">
                                                            Видеосюжеты
                                                        </div>
                                                        <h4 class="press-center-main__news-slider-card-heading">
                                                            Благодаря ГК ТАИФ появился современный паркинг почти на тысячу машин
                                                        </h4>
                                                    </a>
                                                </div>
                                                <div class="swiper-slide">
                                                    <a href="#" class="press-center-main__news-slider-card">
                                                        <div class="press-center-main__news-slider-card-container">
                                                            <img src="img/press-center-top/1.jpg" alt="" class="press-center-main__news-slider-card-image">
                                                            <div class="press-center-main__news-slider-card-content-type">
                                                                <svg width="32" height="32" aria-hidden="true" class="icon-play">
                                                                    <use xlink:href="#play"/>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                        <div class="press-center-main__news-slider-card-label">
                                                            Видеосюжеты
                                                        </div>
                                                        <h4 class="press-center-main__news-slider-card-heading">
                                                            Благодаря ГК ТАИФ появился современный паркинг почти на тысячу машин
                                                        </h4>
                                                    </a>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="press-center-main__news-slider-controls">
                                            <button class="press-center-main__news-slider-btn press-center-main__news-slider-btn--prev">
                                                <span class="press-center-main__news-slider-btn-content">
                                                    <svg width="8" height="16" aria-hidden="true" class="icon-arrow-left">
                                                        <use xlink:href="#arrow-left"></use>
                                                    </svg>
                                                </span>
                                            </button>
                                            <button class="press-center-main__news-slider-btn press-center-main__news-slider-btn--next">
                                                <span class="press-center-main__news-slider-btn-content">
                                                    <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                                        <use xlink:href="#arrow-right"></use>
                                                    </svg>
                                                </span>
                                            </button>

                                        </div>
                                    </div>

                                </div>
                            </li>
                            <li class="press-center-main__cards-list-item">
                                <a href="#" class="press-center-main__cards-card">
                                    <div class="press-center-main__cards-card-image-container">
                                        <img src="img/press-center-cards/1.jpg" alt="" class="press-center-main__cards-card-image">
                                        <span class="press-center-slider__card-label">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-play">
                                                <use xlink:href="#play"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <p class="press-center-main__cards-card-date">
                                        26 июня 2019
                                    </p>
                                    <h4 class="press-center-main__cards-card-title">
                                        Благодаря ГК ТАИФ появился современный паркинг почти на тысячу машин
                                    </h4>
                                </a>
                            </li>
                            <li class="press-center-main__cards-list-item">
                                <a href="#" class="press-center-main__cards-card">
                                    <div class="press-center-main__cards-card-image-container">
                                        <img src="img/press-center-cards/2.jpg" alt="" class="press-center-main__cards-card-image">
                                        <span class="press-center-slider__card-label">
                                            <svg width="16" height="16" aria-hidden="true" class="icon-photo">
                                                <use xlink:href="#photo"></use>
                                            </svg>
                                        </span>
                                    </div>
                                    <p class="press-center-main__cards-card-date">
                                        26 июня 2019
                                    </p>
                                    <h4 class="press-center-main__cards-card-title">
                                        Благодаря ГК ТАИФ появился современный паркинг почти на тысячу машин
                                    </h4>
                                </a>
                            </li>
                            <li class="press-center-main__cards-list-item">
                                <a href="#" class="press-center-main__cards-special-card">
                                    <p class="press-center-main__cards-special-card-label">
                                        Актуально
                                    </p>
                                    <h4 class="press-center-main__cards-special-card-heading">
                                        Благодаря ГК ТАИФ появился современный паркинг почти на тысячу машин
                                    </h4>
                                    <div class="press-center-main__cards-special-card-text">
                                        Горячая линия по вопросам противодействия мошенничеству, коррупции и хищениям
                                    </div>
                                    <span class="press-center-main__cards-special-card-circle">
                                        <svg width="6" height="10" aria-hidden="true" class="icon-arrow-right">
                                            <use xlink:href="#arrow-right"/>
                                        </svg>
                                    </span>
                                </a>
                            </li>
                            <li class="press-center-main__cards-list-item">
                                <a href="#" class="press-center-main__cards-card">
                                    <div class="press-center-main__cards-card-image-container">
                                        <img src="img/press-center-cards/3.jpg" alt="" class="press-center-main__cards-card-image">
                                    </div>
                                    <p class="press-center-main__cards-card-date">
                                        26 июня 2019
                                    </p>
                                    <h4 class="press-center-main__cards-card-title">
                                        «Нижнекамскнефтехим» вручил поисковому отряду «Нефтехимик» металлодетекторы
                                    </h4>
                                </a>
                            </li>
                        </ul>
                        <a href="#" class="press-center-main__cards-more-link">
                            Больше публикаций
                            <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="layout-with-sidebar__sidebar">
                     {% include "sidebar-blocks/sidebar-slider.html" %}
                     {% include "sidebar-blocks/sidebar-info.html" %}
                </div>
            </div>
        </div>
    </div>
</section>