<section class="presentations-top">
    <div class="presentations-top__fullwidth">
        <img src="img/presentations/presentations-bg.jpg" alt="" class="presentations-top__bg-image">
    </div>
    <div class="inner-container">
        <div class="inner-container__left-column"></div>
        <div class="inner-container__right-column inner-container__right-column--flex">
            <div class="presentations-top__content">
                <h2 class="presentations-top__content-heading">
                    Презентации и буклеты
                </h2>

                <div class="presentations-top__cards-block">
                    <ul class="presentations-top__cards-list">
                        <li class="presentations-top__cards-list-item">
                            <a href="#" class="presentations-top__cards-card">
                                <div class="presentations-top__cards-card-image-container">
                                    <img src="img/presentations/book-1.jpg" alt="" class="presentations-top__cards-card-image">
                                </div>
                                <h5 class="presentations-top__cards-card-title">
                                    Сокровенное... Возрождение. ТАИФ. Начало...
                                </h5>
                                <p class="presentations-top__cards-card-date">
                                    26 июня 2019
                                </p>
                            </a>
                        </li>
                        <li class="presentations-top__cards-list-item">
                            <a href="#" class="presentations-top__cards-card">
                                <div class="presentations-top__cards-card-image-container">
                                    <img src="img/presentations/book-2.jpg" alt="" class="presentations-top__cards-card-image">
                                </div>
                                <h5 class="presentations-top__cards-card-title">
                                    Энергия развития. 
                                    {# Казанская ТЭЦ-3 #}
                                </h5>
                                <p class="presentations-top__cards-card-date">
                                    26 июня 2019
                                </p>
                            </a>
                        </li>
                        <li class="presentations-top__cards-list-item">
                            <a href="#" class="presentations-top__cards-card">
                                <div class="presentations-top__cards-card-image-container">
                                    <img src="img/presentations/book-3.jpg" alt="" class="presentations-top__cards-card-image">
                                </div>
                                <h5 class="presentations-top__cards-card-title">
                                    Нефть и капитал. Нефтепереработка 30
                                </h5>
                                <p class="presentations-top__cards-card-date">
                                    26 июня 2019
                                </p>
                            </a>
                        </li>
                        <li class="presentations-top__cards-list-item">
                            <a href="#" class="presentations-top__cards-card">
                                <div class="presentations-top__cards-card-image-container">
                                    <img src="img/presentations/book-4.jpg" alt="" class="presentations-top__cards-card-image">
                                </div>
                                <h5 class="presentations-top__cards-card-title">
                                    Нефть и капитал. Глубокая модернизация
                                </h5>
                                <p class="presentations-top__cards-card-date">
                                    26 июня 2019
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>