<section class="press-center-top js-press-center-top">
    <div class="press-center-top__fullwidth">
        <ul class="press-center-top__background-slider">
            <li class="press-center-top__background-slider-item">
                <img src="img/press-center-top/1.jpg" alt="" class="press-center-top__background-slider-image">
                <span class="press-center-top__background-slider-overlay"></span>
            </li>
            <li class="press-center-top__background-slider-item">
                <img src="img/press-center-top/2.jpg" alt="" class="press-center-top__background-slider-image">
                <span class="press-center-top__background-slider-overlay"></span>
            </li>
            <li class="press-center-top__background-slider-item">
                <img src="img/press-center-top/1.jpg" alt="" class="press-center-top__background-slider-image">
                <span class="press-center-top__background-slider-overlay"></span>
            </li>
            <li class="press-center-top__background-slider-item">
                <img src="img/press-center-top/2.jpg" alt="" class="press-center-top__background-slider-image">
                <span class="press-center-top__background-slider-overlay"></span>
            </li>
        </ul>
    </div>
    <div class="inner-container">
        <div class="inner-container__left-column"></div>
        <div class="inner-container__right-column inner-container__right-column--flex">
            <div class="press-center-top__content-slider">
                <h2 class="press-center-top__content-slider-heading">
                    Пресс-центр
                </h2>
                <div class="press-center-top__content-slider-wrapper">
                    <ul class="press-center-top__content-slider-list">
                        <li class="press-center-top__content-slider-list-item">
                            <a href="#" class="press-center-top__content-slider-card">
                                <p class="press-center-top__content-slider-card-label">
                                    Актуально
                                </p>
                                <h3 class="press-center-top__content-slider-card-heading">
                                    Делегация одного из ведущих международных подрядчиков строительства и оснащения нефтеперерабатывающих производств побывала в главном офисе АО «ТАИФ»
                                </h3>
                                <span class="press-center-top__content-slider-card-circle">
                                    <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"/>
                                    </svg>
                                </span>
                            </a>
                        </li>
                        <li class="press-center-top__content-slider-list-item">
                            <a href="#" class="press-center-top__content-slider-card">
                                <p class="press-center-top__content-slider-card-label">
                                    Актуально
                                </p>
                                <h3 class="press-center-top__content-slider-card-heading">
                                    Maire Tecnimont: «Мы нацелены возобновить работу с ГК ТАИФ
                                </h3>
                                <span class="press-center-top__content-slider-card-circle">
                                    <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"/>
                                    </svg>
                                </span>
                            </a>
                        </li>
                        <li class="press-center-top__content-slider-list-item">
                            <a href="#" class="press-center-top__content-slider-card">
                                <p class="press-center-top__content-slider-card-label">
                                    Актуально
                                </p>
                                <h3 class="press-center-top__content-slider-card-heading">
                                    Делегация одного из ведущих международных подрядчиков строительства и оснащения нефтеперерабатывающих производств побывала в главном офисе АО «ТАИФ»
                                </h3>
                                <span class="press-center-top__content-slider-card-circle">
                                    <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"/>
                                    </svg>
                                </span>
                            </a>
                        </li>
                        <li class="press-center-top__content-slider-list-item">
                            <a href="#" class="press-center-top__content-slider-card">
                                <p class="press-center-top__content-slider-card-label">
                                    Актуально
                                </p>
                                <h3 class="press-center-top__content-slider-card-heading">
                                    Maire Tecnimont: «Мы нацелены возобновить работу с ГК ТАИФ
                                </h3>
                                <span class="press-center-top__content-slider-card-circle">
                                    <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"/>
                                    </svg>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="press-center-top__content-slider-navigation">
                    <ul class="press-center-top__content-slider-navigation-list">
                        <li class="press-center-top__content-slider-navigation-list-item">
                            <a href="#" class="press-center-top__content-slider-navigation-card">
                                <p class="press-center-top__content-slider-navigation-card-text">
                                    Итоги собрания 2019 акционеров ОАО «Казаньоргсинтез» в офисе Группы Компаний «ТАИФ»
                                </p>
                                <p class="press-center-top__content-slider-navigation-card-date">
                                    26 июня 2019
                                </p>
                            </a>
                        </li>
                        <li class="press-center-top__content-slider-navigation-list-item">
                            <a href="#" class="press-center-top__content-slider-navigation-card">
                                <p class="press-center-top__content-slider-navigation-card-text">
                                    Maire Tecnimont: «Мы нацелены возобновить работу с ГК ТАИФ
                                </p>
                                <p class="press-center-top__content-slider-navigation-card-date">
                                    26 июня 2019
                                </p>
                            </a>
                        </li>
                        <li class="press-center-top__content-slider-navigation-list-item">
                            <a href="#" class="press-center-top__content-slider-navigation-card">
                                <p class="press-center-top__content-slider-navigation-card-text">
                                    Итоги собрания 2019 акционеров ОАО «Казаньоргсинтез» в офисе Группы Компаний «ТАИФ»
                                </p>
                                <p class="press-center-top__content-slider-navigation-card-date">
                                    26 июня 2019
                                </p>
                            </a>
                        </li>
                        <li class="press-center-top__content-slider-navigation-list-item">
                            <a href="#" class="press-center-top__content-slider-navigation-card">
                                <p class="press-center-top__content-slider-navigation-card-text">
                                    Благодаря ГК ТАИФ появился современный паркинг почти на тысячу машин
                                </p>
                                <p class="press-center-top__content-slider-navigation-card-date">
                                    26 июня 2019
                                </p>
                            </a>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>