<section class="press-center-slider js-press-center-slider">
    <div class="inner-container">
        <div class="press-center-slider__top-row">
            <h2 class="press-center-slider__section-heading">
                Пресс-центр
            </h2>
            <div class="press-center-slider__tabs-navigation">
                <a href="#" class="press-center-slider__tab-btn">
                    Главное
                </a>
                <a href="#" class="press-center-slider__tab-btn">
                    Новости
                </a>
                <a href="#" class="press-center-slider__tab-btn">
                    Пресс-релизы
                </a>
                <a href="#" class="press-center-slider__tab-btn">
                    Медиа
                </a>
                <div class="press-center-slider__tab-more">
                    <button class="press-center-slider__tab-more-btn">
                        <span class="press-center-slider__tab-more-btn-content">
                            Еще
                            <svg width="16" height="8" aria-hidden="true" class="icon-arrow-down">
                                <use xlink:href="#arrow-down"/>
                            </svg>
                        </span>

                    </button>
                    <div class="press-center-slider__tab-more-menu">
                        <ul class="press-center-slider__tab-more-menu-list">
                            <li class="press-center-slider__tab-more-menu-list-item">
                                <a href="#" class="press-center-slider__tab-more-menu-link">
                                    Категория 1
                                </a>
                            </li>
                            <li class="press-center-slider__tab-more-menu-list-item">
                                <a href="#" class="press-center-slider__tab-more-menu-link">
                                    Категория 2
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="press-center-slider__middle-row">
            <ul class="press-center-slider__tab-items">
                <li class="press-center-slider__tab-item">
                    <div class="press-center-slider__tab-item-card">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="press-center-slider__card">
                                        <div class="press-center-slider__card-image-container">
                                            <img src="img/press/press-1.jpg" alt="" class="press-center-slider__card-image">
                                        </div>
                                        <p class="press-center-slider__card-date">
                                            12 ноября 2019
                                        </p>
                                        <h5 class="press-center-slider__card-title">
                                            ТАИФ и «Иокогава Электрик СНГ» подписали соглашение о сотрудничестве
                                        </h5>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="press-center-slider__card">
                                        <div class="press-center-slider__card-image-container">
                                            <img src="img/press/press-2.jpg" alt="" class="press-center-slider__card-image">
                                            <span class="press-center-slider__card-label">
                                                <svg width="16" height="16" aria-hidden="true" class="icon-play">
                                                    <use xlink:href="#play"/>
                                                </svg>
                                            </span>
                                        </div>
                                        <p class="press-center-slider__card-date">
                                            12 ноября 2019
                                        </p>
                                        <h5 class="press-center-slider__card-title">
                                            ТАИФ и «Иокогава Электрик СНГ» подписали соглашение о сотрудничестве
                                        </h5>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="press-center-slider__card">
                                        <div class="press-center-slider__card-image-container">
                                            <img src="img/press/press-3.jpg" alt="" class="press-center-slider__card-image">
                                            <span class="press-center-slider__card-label">
                                                <svg width="16" height="16" aria-hidden="true" class="icon-photo">
                                                    <use xlink:href="#photo"/>
                                                </svg>
                                            </span>
                                        </div>
                                        <p class="press-center-slider__card-date">
                                            12 ноября 2019
                                        </p>
                                        <h5 class="press-center-slider__card-title">
                                            ТАИФ и «Иокогава Электрик СНГ» подписали соглашение о сотрудничестве
                                        </h5>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="press-center-slider__card">
                                        <div class="press-center-slider__card-image-container">
                                            <img src="img/press/press-1.jpg" alt="" class="press-center-slider__card-image">
                                        </div>
                                        <p class="press-center-slider__card-date">
                                            12 ноября 2019
                                        </p>
                                        <h5 class="press-center-slider__card-title">
                                            ТАИФ и «Иокогава Электрик СНГ» подписали соглашение о сотрудничестве
                                        </h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="press-center-slider__tab-item">
                    <div class="press-center-slider__tab-item-card">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="press-center-slider__card">
                                        <div class="press-center-slider__card-image-container">
                                            <img src="img/press/press-1.jpg" alt="" class="press-center-slider__card-image">
                                        </div>
                                        <p class="press-center-slider__card-date">
                                            12 ноября 2019
                                        </p>
                                        <h5 class="press-center-slider__card-title">
                                            ТАИФ и «Иокогава Электрик СНГ» подписали соглашение о сотрудничестве
                                        </h5>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="press-center-slider__card">
                                        <div class="press-center-slider__card-image-container">
                                            <img src="img/press/press-2.jpg" alt="" class="press-center-slider__card-image">
                                            <span class="press-center-slider__card-label">
                                                <svg width="16" height="16" aria-hidden="true" class="icon-play">
                                                    <use xlink:href="#play"/>
                                                </svg>
                                            </span>
                                        </div>
                                        <p class="press-center-slider__card-date">
                                            12 ноября 2019
                                        </p>
                                        <h5 class="press-center-slider__card-title">
                                            ТАИФ и «Иокогава Электрик СНГ» подписали соглашение о сотрудничестве
                                        </h5>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="press-center-slider__tab-item">
                    <div class="press-center-slider__tab-item-card">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="press-center-slider__card">
                                        <div class="press-center-slider__card-image-container">
                                            <img src="img/press/press-1.jpg" alt="" class="press-center-slider__card-image">
                                        </div>
                                        <p class="press-center-slider__card-date">
                                            12 ноября 2019
                                        </p>
                                        <h5 class="press-center-slider__card-title">
                                            ТАИФ и «Иокогава Электрик СНГ» подписали соглашение о сотрудничестве
                                        </h5>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="press-center-slider__card">
                                        <div class="press-center-slider__card-image-container">
                                            <img src="img/press/press-2.jpg" alt="" class="press-center-slider__card-image">
                                            <span class="press-center-slider__card-label">
                                                <svg width="16" height="16" aria-hidden="true" class="icon-play">
                                                    <use xlink:href="#play"/>
                                                </svg>
                                            </span>
                                        </div>
                                        <p class="press-center-slider__card-date">
                                            12 ноября 2019
                                        </p>
                                        <h5 class="press-center-slider__card-title">
                                            ТАИФ и «Иокогава Электрик СНГ» подписали соглашение о сотрудничестве
                                        </h5>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="press-center-slider__card">
                                        <div class="press-center-slider__card-image-container">
                                            <img src="img/press/press-2.jpg" alt="" class="press-center-slider__card-image">
                                            <span class="press-center-slider__card-label">
                                                <svg width="16" height="16" aria-hidden="true" class="icon-play">
                                                    <use xlink:href="#play"/>
                                                </svg>
                                            </span>
                                        </div>
                                        <p class="press-center-slider__card-date">
                                            12 ноября 2019
                                        </p>
                                        <h5 class="press-center-slider__card-title">
                                            ТАИФ и «Иокогава Электрик СНГ» подписали соглашение о сотрудничестве
                                        </h5>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="press-center-slider__tab-item">
                    <div class="press-center-slider__tab-item-card">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="press-center-slider__card">
                                        <div class="press-center-slider__card-image-container">
                                            <img src="img/press/press-1.jpg" alt="" class="press-center-slider__card-image">
                                        </div>
                                        <p class="press-center-slider__card-date">
                                            12 ноября 2019
                                        </p>
                                        <h5 class="press-center-slider__card-title">
                                            ТАИФ и «Иокогава Электрик СНГ» подписали соглашение о сотрудничестве
                                        </h5>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="press-center-slider__card">
                                        <div class="press-center-slider__card-image-container">
                                            <img src="img/press/press-2.jpg" alt="" class="press-center-slider__card-image">
                                            <span class="press-center-slider__card-label">
                                                <svg width="16" height="16" aria-hidden="true" class="icon-play">
                                                    <use xlink:href="#play"/>
                                                </svg>
                                            </span>
                                        </div>
                                        <p class="press-center-slider__card-date">
                                            12 ноября 2019
                                        </p>
                                        <h5 class="press-center-slider__card-title">
                                            ТАИФ и «Иокогава Электрик СНГ» подписали соглашение о сотрудничестве
                                        </h5>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="press-center-slider__tab-item">
                    <div class="press-center-slider__tab-item-card">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="press-center-slider__card">
                                        <div class="press-center-slider__card-image-container">
                                            <img src="img/press/press-1.jpg" alt="" class="press-center-slider__card-image">
                                        </div>
                                        <p class="press-center-slider__card-date">
                                            12 ноября 2019
                                        </p>
                                        <h5 class="press-center-slider__card-title">
                                            ТАИФ и «Иокогава Электрик СНГ» подписали соглашение о сотрудничестве
                                        </h5>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="press-center-slider__card">
                                        <div class="press-center-slider__card-image-container">
                                            <img src="img/press/press-2.jpg" alt="" class="press-center-slider__card-image">
                                            <span class="press-center-slider__card-label">
                                                <svg width="16" height="16" aria-hidden="true" class="icon-play">
                                                    <use xlink:href="#play"/>
                                                </svg>
                                            </span>
                                        </div>
                                        <p class="press-center-slider__card-date">
                                            12 ноября 2019
                                        </p>
                                        <h5 class="press-center-slider__card-title">
                                            ТАИФ и «Иокогава Электрик СНГ» подписали соглашение о сотрудничестве
                                        </h5>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="press-center-slider__card">
                                        <div class="press-center-slider__card-image-container">
                                            <img src="img/press/press-3.jpg" alt="" class="press-center-slider__card-image">
                                            <span class="press-center-slider__card-label">
                                                <svg width="16" height="16" aria-hidden="true" class="icon-photo">
                                                    <use xlink:href="#photo"/>
                                                </svg>
                                            </span>
                                        </div>
                                        <p class="press-center-slider__card-date">
                                            12 ноября 2019
                                        </p>
                                        <h5 class="press-center-slider__card-title">
                                            ТАИФ и «Иокогава Электрик СНГ» подписали соглашение о сотрудничестве
                                        </h5>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="press-center-slider__card">
                                        <div class="press-center-slider__card-image-container">
                                            <img src="img/press/press-1.jpg" alt="" class="press-center-slider__card-image">
                                        </div>
                                        <p class="press-center-slider__card-date">
                                            12 ноября 2019
                                        </p>
                                        <h5 class="press-center-slider__card-title">
                                            ТАИФ и «Иокогава Электрик СНГ» подписали соглашение о сотрудничестве
                                        </h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="press-center-slider__tab-item">
                    <div class="press-center-slider__tab-item-card">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#" class="press-center-slider__card">
                                        <div class="press-center-slider__card-image-container">
                                            <img src="img/press/press-1.jpg" alt="" class="press-center-slider__card-image">
                                        </div>
                                        <p class="press-center-slider__card-date">
                                            12 ноября 2019
                                        </p>
                                        <h5 class="press-center-slider__card-title">
                                            ТАИФ и «Иокогава Электрик СНГ» подписали соглашение о сотрудничестве
                                        </h5>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#" class="press-center-slider__card">
                                        <div class="press-center-slider__card-image-container">
                                            <img src="img/press/press-2.jpg" alt="" class="press-center-slider__card-image">
                                            <span class="press-center-slider__card-label">
                                                <svg width="16" height="16" aria-hidden="true" class="icon-play">
                                                    <use xlink:href="#play"/>
                                                </svg>
                                            </span>
                                        </div>
                                        <p class="press-center-slider__card-date">
                                            12 ноября 2019
                                        </p>
                                        <h5 class="press-center-slider__card-title">
                                            ТАИФ и «Иокогава Электрик СНГ» подписали соглашение о сотрудничестве
                                        </h5>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="press-center-slider__bottom-row">
            <form action="/" method="POST" class="press-center-slider__form">
                <label for="press-email" class="press-center-slider__email-label">
                    <svg width="25" height="25" aria-hidden="true" class="icon-mail">
                        <use xlink:href="#mail"/>
                    </svg>
                </label>
                <input type="email" name="email" id="press-email" class="press-center-slider__email-input" placeholder="Получать новости на e-mail">
                <button type="submit" class="press-center-slider__submit-btn">
                    <span class="press-center-slider__submit-btn-content">
                        <svg width="6" height="12" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"/>
                        </svg>
                    </span>
                </button>
            </form>

            <a href="#" class="press-center-slider__press-center-link">
                В пресс-центр
            </a>

            <div class="press-center-slider__controls">
                <button class="press-center-slider__controls-btn press-center-slider__controls-btn--prev">
                    <span class="press-center-slider__controls-btn-content">
                        <svg width="8" height="16" aria-hidden="true" class="icon-arrow-left">
                            <use xlink:href="#arrow-left"/>
                        </svg>
                    </span>
                </button>
                <button class="press-center-slider__controls-btn press-center-slider__controls-btn--next">
                    <span class="press-center-slider__controls-btn-content">
                        <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"/>
                        </svg>
                    </span>
                </button>
            </div>

        </div>
    </div>
</section>