<section class="presentations-content">
    <div class="inner-container">
        <div class="inner-container__left-column"></div>
        <div class="inner-container__right-column">
            <h2 class="presentations-content__heading">
                Дополнительные материалы
            </h2>
            <div class="layout-with-sidebar">
                <div class="layout-with-sidebar__main">
                    <div class="tabs js-tabs">
                        <div class="tabs__navigation">
                            <ul class="tabs__navigation-btns-list">
                                <li class="tabs__navigation-btns-list-item">
                                    <a href="#" class="tabs__navigation-btn">
                                        Все материалы
                                    </a>
                                </li>
                                <li class="tabs__navigation-btns-list-item">
                                    <a href="#" class="tabs__navigation-btn">
                                        Презентации
                                    </a>
                                </li>
                                <li class="tabs__navigation-btns-list-item">
                                    <a href="#" class="tabs__navigation-btn">
                                        Буклеты
                                    </a>
                                </li>
                                <li class="tabs__navigation-btns-list-item">
                                    <a href="#" class="tabs__navigation-btn">
                                        Специализированная пресса
                                    </a>
                                </li>
                            </ul>
                            <div class="tabs__navigation-more">
                                <button class="tabs__navigation-more-btn">
                                    <span class="tabs__navigation-more-btn-content">
                                        За все время
                                        <svg width="16" height="8" aria-hidden="true" class="icon-arrow-down">
                                            <use xlink:href="#arrow-down"/>
                                        </svg>
                                    </span>
                                </button>
                                <div class="tabs__navigation-more-menu">
                                    <ul class="tabs__navigation-more-menu-list">
                                        <li class="tabs__navigation-more-menu-list-item">
                                            <a href="#" class="tabs__navigation-more-menu-link">Категория 1</a>
                                        </li>
                                        <li class="tabs__navigation-more-menu-list-item">
                                            <a href="#" class="tabs__navigation-more-menu-link">Категория 2</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="tabs__content">
                            <div class="tabs__content-item active">
                                <ul class="presentations-content__list">
                                    <li class="presentations-content__list-item">
                                        <a href="#" class="presentations-content__card">
                                            <span class="presentations-content__card-text">
                                                Игорь Ларионов: «“Нижнекамскнефтехим” ориентирован на поддержку точек роста»
                                            </span>
                                            <span class="presentations-content__card-size">
                                                2,4 МБ
                                            </span>
                                            <svg width="32" height="42" aria-hidden="true" class="icon-pdf presentations-content__card-icon">
                                                <use xlink:href="#pdf"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="presentations-content__list-item">
                                        <a href="#" class="presentations-content__card">
                                            <span class="presentations-content__card-text">
                                                «Эксперт Волга» №20, 2008. Энергоресурс задействует группа "ТАИФ" для укрепления на рынке
                                            </span>
                                            <span class="presentations-content__card-size">
                                                2,4 МБ
                                            </span>
                                            <svg width="32" height="42" aria-hidden="true" class="icon-pdf presentations-content__card-icon">
                                                <use xlink:href="#pdf"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="presentations-content__list-item">
                                        <a href="#" class="presentations-content__card">
                                            <span class="presentations-content__card-text">
                                                «Эксперт Волга» №20, 2008. Александр Бабынин: «Мы намерены удвоить оборот и утроить чистую прибыль»
                                            </span>
                                            <span class="presentations-content__card-size">
                                                2,4 МБ
                                            </span>
                                            <svg width="32" height="42" aria-hidden="true" class="icon-pdf presentations-content__card-icon">
                                                <use xlink:href="#pdf"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="presentations-content__list-item">
                                        <a href="#" class="presentations-content__card">
                                            <span class="presentations-content__card-text">
                                                «Эксперт Волга» №20, 2008. Леонид Алехин: «Успехи «Казаньоргсинтеза» – наше общее достижение»
                                            </span>
                                            <span class="presentations-content__card-size">
                                                2,4 МБ
                                            </span>
                                            <svg width="32" height="42" aria-hidden="true" class="icon-pdf presentations-content__card-icon">
                                                <use xlink:href="#pdf"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="presentations-content__list-item">
                                        <a href="#" class="presentations-content__card">
                                            <span class="presentations-content__card-text">
                                                «Эксперт Волга» №20, 2008. Полезная агрессия
                                            </span>
                                            <span class="presentations-content__card-size">
                                                2,4 МБ
                                            </span>
                                            <svg width="32" height="42" aria-hidden="true" class="icon-pdf presentations-content__card-icon">
                                                <use xlink:href="#pdf"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="presentations-content__list-item">
                                        <a href="#" class="presentations-content__card">
                                            <span class="presentations-content__card-text">
                                                «Эксперт Волга» №20, 2008. Альберт Шигабутдинов: «Работаем порой на грани возможного»
                                            </span>
                                            <span class="presentations-content__card-size">
                                                2,4 МБ
                                            </span>
                                            <svg width="32" height="42" aria-hidden="true" class="icon-pdf presentations-content__card-icon">
                                                <use xlink:href="#pdf"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="presentations-content__list-item">
                                        <a href="#" class="presentations-content__card">
                                            <span class="presentations-content__card-text">
                                                «Эксперт Волга» №20, 2008. Игорь Ларионов: «“Нижнекамскнефтехим” ориентирован на поддержку точек роста»
                                            </span>
                                            <span class="presentations-content__card-size">
                                                2,4 МБ
                                            </span>
                                            <svg width="32" height="42" aria-hidden="true" class="icon-pdf presentations-content__card-icon">
                                                <use xlink:href="#pdf"/>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>

                                <a href="#" class="presentations-content__cards-more-link">
                                    Больше публикаций
                                    <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="tabs__content-item">
                                <ul class="presentations-content__list">
                                    <li class="presentations-content__list-item">
                                        <a href="#" class="presentations-content__card">
                                            <span class="presentations-content__card-text">
                                                Игорь Ларионов: «“Нижнекамскнефтехим” ориентирован на поддержку точек роста»
                                            </span>
                                            <span class="presentations-content__card-size">
                                                2,4 МБ
                                            </span>
                                            <svg width="32" height="42" aria-hidden="true" class="icon-pdf presentations-content__card-icon">
                                                <use xlink:href="#pdf"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="presentations-content__list-item">
                                        <a href="#" class="presentations-content__card">
                                            <span class="presentations-content__card-text">
                                                «Эксперт Волга» №20, 2008. Энергоресурс задействует группа "ТАИФ" для укрепления на рынке
                                            </span>
                                            <span class="presentations-content__card-size">
                                                2,4 МБ
                                            </span>
                                            <svg width="32" height="42" aria-hidden="true" class="icon-pdf presentations-content__card-icon">
                                                <use xlink:href="#pdf"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="presentations-content__list-item">
                                        <a href="#" class="presentations-content__card">
                                            <span class="presentations-content__card-text">
                                                «Эксперт Волга» №20, 2008. Александр Бабынин: «Мы намерены удвоить оборот и утроить чистую прибыль»
                                            </span>
                                            <span class="presentations-content__card-size">
                                                2,4 МБ
                                            </span>
                                            <svg width="32" height="42" aria-hidden="true" class="icon-pdf presentations-content__card-icon">
                                                <use xlink:href="#pdf"/>
                                            </svg>
                                        </a>
                                    </li>

                                </ul>
                                <a href="#" class="presentations-content__cards-more-link">
                                    Больше публикаций
                                    <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="tabs__content-item">
                                <ul class="presentations-content__list">
                                    <li class="presentations-content__list-item">
                                        <a href="#" class="presentations-content__card">
                                            <span class="presentations-content__card-text">
                                                Игорь Ларионов: «“Нижнекамскнефтехим” ориентирован на поддержку точек роста»
                                            </span>
                                            <span class="presentations-content__card-size">
                                                2,4 МБ
                                            </span>
                                            <svg width="32" height="42" aria-hidden="true" class="icon-pdf presentations-content__card-icon">
                                                <use xlink:href="#pdf"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="presentations-content__list-item">
                                        <a href="#" class="presentations-content__card">
                                            <span class="presentations-content__card-text">
                                                «Эксперт Волга» №20, 2008. Энергоресурс задействует группа "ТАИФ" для укрепления на рынке
                                            </span>
                                            <span class="presentations-content__card-size">
                                                2,4 МБ
                                            </span>
                                            <svg width="32" height="42" aria-hidden="true" class="icon-pdf presentations-content__card-icon">
                                                <use xlink:href="#pdf"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="presentations-content__list-item">
                                        <a href="#" class="presentations-content__card">
                                            <span class="presentations-content__card-text">
                                                «Эксперт Волга» №20, 2008. Александр Бабынин: «Мы намерены удвоить оборот и утроить чистую прибыль»
                                            </span>
                                            <span class="presentations-content__card-size">
                                                2,4 МБ
                                            </span>
                                            <svg width="32" height="42" aria-hidden="true" class="icon-pdf presentations-content__card-icon">
                                                <use xlink:href="#pdf"/>
                                            </svg>
                                        </a>
                                    </li>

                                </ul>
                                <a href="#" class="presentations-content__cards-more-link">
                                    Больше публикаций
                                    <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="tabs__content-item">
                                <ul class="presentations-content__list">
                                    <li class="presentations-content__list-item">
                                        <a href="#" class="presentations-content__card">
                                            <span class="presentations-content__card-text">
                                                Игорь Ларионов: «“Нижнекамскнефтехим” ориентирован на поддержку точек роста»
                                            </span>
                                            <span class="presentations-content__card-size">
                                                2,4 МБ
                                            </span>
                                            <svg width="32" height="42" aria-hidden="true" class="icon-pdf presentations-content__card-icon">
                                                <use xlink:href="#pdf"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="presentations-content__list-item">
                                        <a href="#" class="presentations-content__card">
                                            <span class="presentations-content__card-text">
                                                «Эксперт Волга» №20, 2008. Энергоресурс задействует группа "ТАИФ" для укрепления на рынке
                                            </span>
                                            <span class="presentations-content__card-size">
                                                2,4 МБ
                                            </span>
                                            <svg width="32" height="42" aria-hidden="true" class="icon-pdf presentations-content__card-icon">
                                                <use xlink:href="#pdf"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="presentations-content__list-item">
                                        <a href="#" class="presentations-content__card">
                                            <span class="presentations-content__card-text">
                                                «Эксперт Волга» №20, 2008. Александр Бабынин: «Мы намерены удвоить оборот и утроить чистую прибыль»
                                            </span>
                                            <span class="presentations-content__card-size">
                                                2,4 МБ
                                            </span>
                                            <svg width="32" height="42" aria-hidden="true" class="icon-pdf presentations-content__card-icon">
                                                <use xlink:href="#pdf"/>
                                            </svg>
                                        </a>
                                    </li>

                                </ul>
                                <a href="#" class="presentations-content__cards-more-link">
                                    Больше публикаций
                                    <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="tabs__content-item">
                                <ul class="presentations-content__list">
                                    <li class="presentations-content__list-item">
                                        <a href="#" class="presentations-content__card">
                                            <span class="presentations-content__card-text">
                                                Игорь Ларионов: «“Нижнекамскнефтехим” ориентирован на поддержку точек роста»
                                            </span>
                                            <span class="presentations-content__card-size">
                                                2,4 МБ
                                            </span>
                                            <svg width="32" height="42" aria-hidden="true" class="icon-pdf presentations-content__card-icon">
                                                <use xlink:href="#pdf"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="presentations-content__list-item">
                                        <a href="#" class="presentations-content__card">
                                            <span class="presentations-content__card-text">
                                                «Эксперт Волга» №20, 2008. Энергоресурс задействует группа "ТАИФ" для укрепления на рынке
                                            </span>
                                            <span class="presentations-content__card-size">
                                                2,4 МБ
                                            </span>
                                            <svg width="32" height="42" aria-hidden="true" class="icon-pdf presentations-content__card-icon">
                                                <use xlink:href="#pdf"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="presentations-content__list-item">
                                        <a href="#" class="presentations-content__card">
                                            <span class="presentations-content__card-text">
                                                «Эксперт Волга» №20, 2008. Александр Бабынин: «Мы намерены удвоить оборот и утроить чистую прибыль»
                                            </span>
                                            <span class="presentations-content__card-size">
                                                2,4 МБ
                                            </span>
                                            <svg width="32" height="42" aria-hidden="true" class="icon-pdf presentations-content__card-icon">
                                                <use xlink:href="#pdf"/>
                                            </svg>
                                        </a>
                                    </li>

                                </ul>
                                <a href="#" class="presentations-content__cards-more-link">
                                    Больше публикаций
                                    <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"/>
                                    </svg>
                                </a>
                            </div>
                            <div class="tabs__content-item">
                                <ul class="presentations-content__list">
                                    <li class="presentations-content__list-item">
                                        <a href="#" class="presentations-content__card">
                                            <span class="presentations-content__card-text">
                                                Игорь Ларионов: «“Нижнекамскнефтехим” ориентирован на поддержку точек роста»
                                            </span>
                                            <span class="presentations-content__card-size">
                                                2,4 МБ
                                            </span>
                                            <svg width="32" height="42" aria-hidden="true" class="icon-pdf presentations-content__card-icon">
                                                <use xlink:href="#pdf"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="presentations-content__list-item">
                                        <a href="#" class="presentations-content__card">
                                            <span class="presentations-content__card-text">
                                                «Эксперт Волга» №20, 2008. Энергоресурс задействует группа "ТАИФ" для укрепления на рынке
                                            </span>
                                            <span class="presentations-content__card-size">
                                                2,4 МБ
                                            </span>
                                            <svg width="32" height="42" aria-hidden="true" class="icon-pdf presentations-content__card-icon">
                                                <use xlink:href="#pdf"/>
                                            </svg>
                                        </a>
                                    </li>
                                    <li class="presentations-content__list-item">
                                        <a href="#" class="presentations-content__card">
                                            <span class="presentations-content__card-text">
                                                «Эксперт Волга» №20, 2008. Александр Бабынин: «Мы намерены удвоить оборот и утроить чистую прибыль»
                                            </span>
                                            <span class="presentations-content__card-size">
                                                2,4 МБ
                                            </span>
                                            <svg width="32" height="42" aria-hidden="true" class="icon-pdf presentations-content__card-icon">
                                                <use xlink:href="#pdf"/>
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                                <a href="#" class="presentations-content__cards-more-link">
                                    Больше публикаций
                                    <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layout-with-sidebar__sidebar">
                    {% include "sidebar-blocks/sidebar-info.html" %}
                    {% include "sidebar-blocks/sidebar-subscribe.html" %}
                </div>
            </div>
        </div>
    </div>

</section>