<div class="sidebar-info">
    <h4 class="sidebar-info__heading">
        Контакты для СМИ
    </h4>
    <p class="sidebar-info__large-paragraph">
        Горячая линия по вопросам противодействия мошенничеству, коррупции и хищениям
    </p>
    <a href="tel:+78003331009" class="sidebar-info__large-link">
        8 800 333-10-09
    </a>
    <p class="sidebar-info__small-paragraph">
        Горячая линия по вопросам противодействия мошенничеству, коррупции и хищениям
    </p>
    <a href="mailto:info@taif.ru" class="sidebar-info__small-link">
        info@taif.ru
    </a>
</div>