<div class="sidebar-other-news">
    <h3 class="sidebar-other-news__heading">
        Другие новости
    </h3>
    <ul class="sidebar-other-news__list">
        <li class="sidebar-other-news__list-item">
            <a href="#" class="sidebar-other-news__card">
                <div class="sidebar-other-news__card-image-container">
                    <img src="img/press-center-cards/2.jpg" alt="" class="sidebar-other-news__card-image">
                </div>
                <p class="sidebar-other-news__card-date">
                    26 июня 2019
                </p>
                <h4 class="sidebar-other-news__card-heading">
                    Минниханов наградил спортсменов казанского клуба водных видов спорта «Синтез»
                </h4>
            </a>
        </li>
        <li class="sidebar-other-news__list-item">
            <a href="#" class="sidebar-other-news__card">
                <div class="sidebar-other-news__card-image-container">
                    <img src="img/press-center-cards/2.jpg" alt="" class="sidebar-other-news__card-image">
                </div>
                <p class="sidebar-other-news__card-date">
                    26 июня 2019
                </p>
                <h4 class="sidebar-other-news__card-heading">
                    Минниханов наградил спортсменов казанского клуба водных видов спорта «Синтез»
                </h4>
            </a>
        </li>
    </ul>
</div>