<div class="sidebar-slider js-sidebar-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#" class="sidebar-slider__card">
                    <img src="img/corporate-press/corpotate-press-bg.jpg" alt="" class="sidebar-slider__card-bg">
                    <h4 class="sidebar-slider__card-heading">
                        Корпоративная пресса
                    </h4>
                    <h5 class="sidebar-slider__card-subheading">
                        Группа компаний “ТАИФ” глазами cпециализированной прессы
                    </h5>
                    <img src="img/corporate-press/magazine.jpg" alt="" class="sidebar-slider__card-image" width="225">
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="sidebar-slider__card">
                    <img src="img/corporate-press/corpotate-press-bg.jpg" alt="" class="sidebar-slider__card-bg">
                    <h4 class="sidebar-slider__card-heading">
                        Корпоративная пресса
                    </h4>
                    <h5 class="sidebar-slider__card-subheading">
                        Группа компаний “ТАИФ” глазами cпециализированной прессы
                    </h5>
                    <img src="img/corporate-press/magazine.jpg" alt="" class="sidebar-slider__card-image" width="225">
                </a>
            </div>
        </div>
    </div>
    <div class="sidebar-slider__controls">
        <button class="sidebar-slider__controls-btn sidebar-slider__controls-btn--prev">
            <span class="sidebar-slider__controls-btn-content">
                <svg width="8" height="16" aria-hidden="true" class="icon-arrow-left">
                    <use xlink:href="#arrow-left"></use>
                </svg>
            </span>
        </button>
        <button class="sidebar-slider__controls-btn sidebar-slider__controls-btn--next">
            <span class="sidebar-slider__controls-btn-content">
                <svg width="8" height="16" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right"></use>
                </svg>
            </span>
        </button>

    </div>
</div>