<div class="sidebar-subscribe">
    <h4 class="sidebar-subscribe__heading">
        Будьте всегда в курсе
    </h4>
    <p class="sidebar-subscribe__large-paragraph">
        Горячая линия по вопросам противодействия мошенничеству, коррупции и хищениям
    </p>
    <form action="/" class="sidebar-subscribe__form">
        <input type="email" class="sidebar-subscribe__input" required placeholder="E-mail">
        <button type="submit" class="sidebar-subscribe__submit">
            <span class="sidebar-subscribe__submit-content">
                <svg width="6" height="12" aria-hidden="true" class="icon-arrow-right">
                    <use xlink:href="#arrow-right"/>
                </svg>
            </span>
        </button>
    </form>
</div>