<div class="page-header__row">
    <a href="#" class="page-header__company-structure">
        <span class="page-header__company-structure-burger">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <span class="page-header__company-structure-text">
            Структура
            <br>
            компании
        </span>
    </a>
    <div class="page-header__company-structure-menu">

        <div class="container">
            <div class="page-header__company-structure-wrapper">
                <div class="page-header__company-structure-left-column">
                    <a href="#" class="page-header__company-structure-menu-close">
                        <svg width="10" height="10" aria-hidden="true" class="icon-cross">
                            <use xlink:href="#cross"/>
                        </svg>
                        <span class="page-header__company-structure-menu-close-text">Закрыть</span>
                    </a>
                    <span class="page-header__company-structure-vertical-bar"></span>
                </div>
                <div class="page-header__company-structure-right-column">
                    <h3 class="page-header__company-structure-main-heading">
                        <img src="img/logos/taif-white-logo.svg" alt="Логотип ТАИФ" class="page-header__company-structure-main-heading-logo">
                        Группа Компаний «ТАИФ»
                    </h3>
                    <div class="page-header__company-structure-block">
                        <h4 class="page-header__company-structure-block-heading">
                            Нефтегазопереработка, химия, нефтехимия и энергетика
                        </h4>
                        <ul class="page-header__company-structure-block-list">
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/taif-nk.png" alt="Таиф НК" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/nknx.png" alt="НКНХ" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/kos.png" alt="КОС" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/tgk-16.png" alt="ТГК 16" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/taif-nk.png" alt="Таиф НК" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/nknx.png" alt="НКНХ" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/kos.png" alt="КОС" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card js-show-more-card">
                                    <span class="page-header__company-structure-block-card-show-more-text">
                                        Показать еще
                                    </span>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/nknx.png" alt="НКНХ" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/kos.png" alt="КОС" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="page-header__company-structure-block">
                        <h4 class="page-header__company-structure-block-heading">
                            Инвестиции и финасы
                        </h4>
                        <ul class="page-header__company-structure-block-list">
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/taif-invest.png" alt="Таиф Инвест" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/telekom-management.svg" alt="Телеком Менеджмент" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/taif-invest.png" alt="Таиф Инвест" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/telekom-management.svg" alt="Телеком Менеджмент" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/taif-nk.png" alt="Таиф НК" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/telekom-management.svg" alt="Телеком Менеджмент" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="page-header__company-structure-block">
                        <h4 class="page-header__company-structure-block-heading">
                            Строительство и производство строительных материалов
                        </h4>
                        <ul class="page-header__company-structure-block-list">
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/nmu3.png" alt="НМУ3" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/taif-st.png" alt="ТАИФ СТ" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/keramika-sintez.png" alt="Керамика синтез" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/nmu3.png" alt="НМУ3" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/taif-st.png" alt="ТАИФ СТ" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/keramika-sintez.png" alt="Керамика синтез" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/taif-st.png" alt="ТАИФ СТ" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card js-show-more-card">
                                    <span class="page-header__company-structure-block-card-show-more-text">
                                        Показать еще
                                    </span>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/keramika-sintez.png" alt="Керамика синтез" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/taif-st.png" alt="ТАИФ СТ" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/keramika-sintez.png" alt="Керамика синтез" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/taif-st.png" alt="ТАИФ СТ" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="page-header__company-structure-block">
                        <h4 class="page-header__company-structure-block-heading">
                            Телекоммуникации и прочие услуги
                        </h4>
                        <ul class="page-header__company-structure-block-list">
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/tnv.png" alt="ТНВ" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/karsar.png" alt="Карсар" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/tulpar.png" alt="Тулпар" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/kekin.png" alt="Дом Кекина" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/karsar.png" alt="Карсар" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                            <li class="page-header__company-structure-block-list-item">
                                <a href="#" class="page-header__company-structure-block-card">
                                    <img src="img/logos/tulpar.png" alt="Тулпар" class="page-header__company-structure-block-image">
                                    <svg width="22" height="22" aria-hidden="true" class="icon-link">
                                        <use xlink:href="#link"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <a href="index.html" class="page-header__logo">

        {% if headerType == 'color' %}
            <img src="img/logos/taif-color-logo.svg" alt="Логотип ТАИФ" class="page-header__logo-image" width="100">
        {% else %}
            <img src="img/logos/taif-white-logo.svg" alt="Логотип ТАИФ" class="page-header__logo-image" width="100">
        {% endif %}
    </a>
    <nav class="main-nav">
        <div class="main-nav__mobile-top-row">
            <a href="index.html" class="main-nav__mobile-top-row-logo">
                <img src="img/logos/taif-white-logo.svg" alt="Логотип ТАИФ" class="main-nav__mobile-top-row-logo-image">
            </a>
            <button class="main-nav__mobile-top-row-menu-close">
                <svg width="10" height="10" aria-hidden="true" class="icon-cross">
                    <use xlink:href="#cross"/>
                </svg>
            </button>
        </div>

        <ul class="main-nav__list">
            <li class="main-nav__list-item main-nav__list-item--home {% if activePage == 'home' %} active {% endif %}">
                <a href="#" class="main-nav__link">
                    Компания
                </a>
            </li>
            <li class="main-nav__list-item">
                <a class="main-nav__link main-nav__link--has-submenu">
                    <svg width="16" height="8" aria-hidden="true" class="icon-arrow-down">
                        <use xlink:href="#arrow-down"/>
                    </svg>О компании
                </a>
                <div class="main-nav__submenu-wrapper">
                    <ul class="main-nav__submenu-list">
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Общая информация
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                История
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Акционерам и инвесторам
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                География деятельности
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Корпоративное управление
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Инвестиционные проекты
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="main-nav__list-item">
                <a class="main-nav__link main-nav__link--has-submenu">
                    <svg width="16" height="8" aria-hidden="true" class="icon-arrow-down">
                        <use xlink:href="#arrow-down"/>
                    </svg>
                    Структура группы
                </a>
                <div class="main-nav__submenu-wrapper">
                    <ul class="main-nav__submenu-list">
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Общая информация
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                История
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Акционерам и инвесторам
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                География деятельности
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Корпоративное управление
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Инвестиционные проекты
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="main-nav__list-item">
                <a class="main-nav__link main-nav__link--has-submenu">
                    <svg width="16" height="8" aria-hidden="true" class="icon-arrow-down">
                        <use xlink:href="#arrow-down"/>
                    </svg>
                    Продукция
                </a>
                <div class="main-nav__submenu-wrapper">
                    <ul class="main-nav__submenu-list">
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Общая информация
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                История
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Акционерам и инвесторам
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                География деятельности
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Корпоративное управление
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Инвестиционные проекты
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="main-nav__list-item">
                <a class="main-nav__link main-nav__link--has-submenu">
                    <svg width="16" height="8" aria-hidden="true" class="icon-arrow-down">
                        <use xlink:href="#arrow-down"/>
                    </svg>
                    Акционерам и инвесторам
                </a>
                <div class="main-nav__submenu-wrapper">
                    <ul class="main-nav__submenu-list">
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Общая информация
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                История
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Акционерам и инвесторам
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                География деятельности
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Корпоративное управление
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Инвестиционные проекты
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="main-nav__list-item">
                <a href="#" class="main-nav__link">
                    <svg width="16" height="8" aria-hidden="true" class="icon-arrow-down">
                        <use xlink:href="#arrow-down"/>
                    </svg>
                    Устойчивое развитие
                </a>
            </li>
            <li class="main-nav__list-item {% if activePage == 'press' %} active {% endif %}">
                <a href="#" class="main-nav__link">
                    <svg width="16" height="8" aria-hidden="true" class="icon-arrow-down">
                        <use xlink:href="#arrow-down"/>
                    </svg>
                    Пресс-центр
                </a>
            </li>

        </ul>
        <div class="main-nav__contacts">
            <a href="#" class="main-nav__contacts-address">
                ул. Щапова 27, г. Казань, Татарстан,<br>
                Россия, 420012
            </a>
            <a href="tel:+78005000191" class="main-nav__contacts-phone">8 800 5000 191</a>
            <a href="mailto:info@taif.ru" class="main-nav__contacts-email">info@taif.ru</a>
        </div>
    </nav>
    <div class="page-header__contacts">
        <div class="page-header__contacts-info">
            <a href="tel:+78432779402" class="page-header__contacts-link page-header__contacts-link--phone">
                8 (843) 277-94-02
            </a>
            <a href="mailto:bars@taif.ru" class="page-header__contacts-link page-header__contacts-link--mail">
                bars@taif.ru
            </a>
        </div>
        <a href="tel:+78432779402" class="page-header__contacts-icon-link page-header__contacts-link--phone">
            <svg width="20" height="20" aria-hidden="true" class="icon-phone">
                <use xlink:href="#phone"/>
            </svg>
        </a>
    </div>
    <burger class="page-header__burger-btn">
        <span class="page-header__burger-btn-content">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </burger>
</div>