<div class="page-header__row">
    <a href="#" class="page-header__company-structure">
        <span class="page-header__company-structure-burger">
            <span></span>
            <span></span>
            <span></span>
        </span>
        <span class="page-header__company-structure-text">
            Структура
            <br>
            компании
        </span>
    </a>
    <a href="index.html" class="page-header__logo">
        <img src="img/logos/taif-white-logo.svg" alt="Логотип ТАИФ" class="page-header__logo-image" width="100">
    </a>
    <nav class="main-nav">
        <ul class="main-nav__list">
            <li class="main-nav__list-item">
                <a href="#" class="main-nav__link">
                    Главная
                </a>
            </li>
            <li class="main-nav__list-item">
                <a href="#" class="main-nav__link">
                    О компании
                </a>
            </li>
            <li class="main-nav__list-item">
                <a class="main-nav__link">
                    Продукция
                </a>
                <div class="main-nav__submenu-wrapper">
                    <ul class="main-nav__submenu-list">
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Общая информация
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                История
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Акционерам и инвесторам
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                География деятельности
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Корпоративное управление
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Инвестиционные проекты
                            </a>
                        </li>
                        <li class="main-nav__submenu-list-item">
                            <a href="#" class="main-nav__submenu-link">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="main-nav__list-item">
                <a href="#" class="main-nav__link">
                    Акционерам
                </a>
            </li>
            <li class="main-nav__list-item">
                <a href="#" class="main-nav__link">
                    Пресс-центр
                </a>
            </li>
            <li class="main-nav__list-item">
                <a href="#" class="main-nav__link">
                    Вакансии
                </a>
            </li>



            {# <li class="main-nav__list-item">
                <a href="#" class="main-nav__link">
                    Акционерам
                </a>
            </li>
            <li class="main-nav__list-item">
                <a href="#" class="main-nav__link">
                    Пресс-центр
                </a>
            </li>
            <li class="main-nav__list-item">
                <a href="#" class="main-nav__link">
                    Вакансии
                </a>
            </li> #}
        </ul>
    </nav>
    <div class="page-header__contacts">
        <div class="page-header__contacts-info">
            <a href="tel:+78432779402" class="page-header__contacts-link page-header__contacts-link--phone">
                8 (843) 277-94-02
            </a>
            <a href="mailto:bars@taif.ru" class="page-header__contacts-link page-header__contacts-link--mail">
                bars@taif.ru
            </a>
        </div>
        <a href="tel:+78432779402" class="page-header__contacts-icon-link page-header__contacts-link--phone">
            <svg width="20" height="20" aria-hidden="true" class="icon-phone">
                <use xlink:href="#phone"/>
            </svg>
        </a>
    </div>
</div>