<nav class="side-menu">
    <ul class="side-menu__list">
        <li class="side-menu__list-item">
            <a href="#" class="side-menu__link">
                Общая информация
            </a>
        </li>
        <li class="side-menu__list-item active">
            <a href="#" class="side-menu__link">
                История
            </a>
        </li>
        <li class="side-menu__list-item">
            <a href="#" class="side-menu__link">
                География деятельности
            </a>
        </li>
        <li class="side-menu__list-item">
            <a href="#" class="side-menu__link">
                Корпоративное управление
            </a>
        </li>
        <li class="side-menu__list-item">
            <a href="#" class="side-menu__link">
                Инвестиционное управление
            </a>
        </li>
    </ul>
</nav>