.info-cards {
}

.info-cards__heading {
    @include section-header();
}

.info-cards__content {
    margin-top: 4rem;
    @include breakpoint(mobile) {
        margin-top: 3rem;
    }
}

.info-cards__list {
    display: flex;
    flex-wrap: wrap;
    margin: -32.5px;
    @include breakpoint(mobile) {
        margin: -18px
    }
    
}

.info-cards__list-item {
    padding: 32.5px;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    @include breakpoint(mobile) {
        width: 100%;
        padding: 18px;
    }
}

.info-cards__card {
    flex-grow: 1;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 27rem;
    @include breakpoint(mobile) {
        min-height: auto;
    }
    &--no-border {
        border: none;
        overflow: hidden;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 4px;
        background-color: #fff;
        z-index: -3;
    }
    &:link,
    &:visited {
        color: black;
    }
}

.info-cards__hotline {
    display: flex;
    flex-direction: column;
    padding: 2.4rem 3.2rem;
    flex-grow: 1;

    @include breakpoint(mobile) {
        padding: 1.5rem 2rem;
    }
}

.info-cards__hotline-text {
    font-size: 1.6rem;
    line-height: 1.33;
    font-family: $proxima;
    margin-bottom: 3rem;
    @include breakpoint(mobile) {
        font-size: 1.3rem;
        line-height: 1.9rem;
        margin-bottom: 5rem;
    }
}

.info-cards__hotline-phone-number {
    font-size: 2.2rem;
    line-height: 1.33;
    font-weight: 700;
    font-family: $montserrat;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: 1rem;
    transition: color 0.2s;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.6rem;
        margin-bottom: 0.5rem;
    }
    &:link,
    &:visited {
        color: black;
    }

    .no-touch &:hover,
    .touch &:active {
        color: $primary-color;
    }
}

.info-cards__hotline-remark {
    font-size: 1.2rem;
    line-height: 1.5;
    font-family: $proxima;
    @include breakpoint(mobile) {
        font-size: 1rem;
    }
}

.info-cards__financial-report {
    // border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2.4rem 3.2rem;
    color: white;
    flex-grow: 1;
    @include breakpoint(mobile) {
        padding: 2rem;
        padding-top: 1.5rem;
    }
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover {
        .info-cards__financial-report-circle {
            background-color: white;
            svg {
                fill: $primary-color;
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        background: linear-gradient(147.93deg, #045333 3.89%, #1eac72 100%);
    }
}

.info-cards__financial-report-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    @include objectFitCover();
}

.info-cards__financial-report-heading {
    font-size: 2.6rem;
    line-height: 1.33;
    font-family: $montserrat;
    font-weight: 700;
    margin-bottom: 2rem;
    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 2.2rem;
        margin-bottom: 4rem;
    }
}

.info-cards__financial-report-bottom-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    @include breakpoint(mobile) {
        align-items: flex-end;
    }
}

.info-cards__financial-report-year {
    font-family: $proxima;
    font-size: 1.8rem;
    font-weight: 600;
}

.info-cards__financial-report-circle {
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid white;
    transition: all 0.2s;
    @include breakpoint(mobile) {
        width: 4.4rem;
        height: 4.4rem;
    }
    svg {
        fill: white;
        width: 0.8rem;
        height: 1.6rem;
        margin-left: 0.2rem;
        transition: fill 0.2s;
        @include breakpoint(mobile) {
            width: 0.7rem;
            height: 1rem;
            margin-left: 0.1rem;
        }
    }
}

.info-cards__stocks {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}



.info-cards__stocks-selector {
    top: -1px;
    right: -1px;
    left: -1px;
    position: absolute;
   
    // display: none;
    height: auto;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #e5e5e5;
    transition: opacity .3s, transform .3s, visibility 0s linear .3s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(25%);
    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: all .3s;
    }
    
}

.info-cards__stocks-selector-list-item {
    border-bottom: 1px solid #e5e5e5;
    &:last-child {
        border-bottom: none;
    }
}


.info-cards__stocks-selector-btn {
    display: block;
    padding: 2rem 3.2rem;
    transition: background-color .2s;
    @include breakpoint(mobile) {
        padding: 2rem;
    }
    &:link,
    &:visited {
        color: black;
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: #e5e5e5;
    }
}


.info-cards__stocks-selector-btn-ticker {
    display: flex;
    align-items: center;
    font-family: $montserrat;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.33;
    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
}



.info-cards__stocks-selector-btn-description {
    font-family: $proxima;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-top: 0.5rem;
    @include breakpoint(mobile) {
        font-size: 1rem;
        line-height: 1.2rem;
    }
}

.info-cards__stocks-top-section {
    padding: 2.4rem 3.2rem;
  
    color: black;

    @include breakpoint(mobile) {
        padding: 2rem;
    }
    &:link,
    &:visited {
        color: black;
    }
}


.info-cards__stocks-emitent-info-row {
    display: flex;
    align-items: baseline;
}

.info-cards__stocks-bottom-section {
    flex-grow: 1;
    position: relative;
    margin: -1px;
    overflow: hidden;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.info-cards__stocks-preloader {
    position: absolute;
    z-index: 40;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility 0s linear .3s;
    &.active {
        opacity: 1;
        visibility: visible;
        transition: all .3s;
    }
    svg {
        width: 50px;
        height: 50px;
        position: relative;
        animation: spinner-rotate 2s linear infinite;
        flex-shrink: 0;
       
        @include breakpoint(mobile) {
            width: 30px;
            height: 30px;
        }
        circle {
            fill: none;
            stroke-width: 8;
            stroke: $primary-color;
            stroke-dasharray: 405px;
            stroke-dashoffset: 405px;
            stroke-linecap: round;
            animation: spinner 2s linear infinite;
        }
    }
}

@keyframes spinner {
    0%,
    100% {
        stroke-dashoffset: 405px;
    }
    50% {
        stroke-dashoffset: 0;
    }
    50.1% {
        stroke-dashoffset: 810px;
    }
}

@keyframes spinner-rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.info-cards__stocks-emitent-selection {
    width: 50%;
    flex-grow: 1;
}

.info-cards__stocks-emitent-selection-ticker {
    display: flex;
    align-items: center;
    font-family: $montserrat;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.33;
    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
    svg {
        fill: $primary-color;
        width: 1.6rem;
        height: 0.8rem;
        margin-left: 0.5rem;
        flex-shrink: 0;
        @include breakpoint(mobile) {
            width: 0.9rem;
            height: 0.5rem;
            
        }
    }
}

.info-cards__stocks-emitent-selection-name {
    font-family: $proxima;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin-top: 0.5rem;
    @include breakpoint(mobile) {
        font-size: 1rem;
        line-height: 1.2rem;
    }
}

.info-cards__stocks-price {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    margin-left: 1.5rem;
}

.info-cards__stocks-price-amount {
    font-family: $montserrat;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.5;
    white-space: nowrap;
    @include breakpoint(mobile) {
        font-size: 1.4rem;
        line-height: 2.4rem;
    }
}

.info-cards__stocks-price-dynamics {
    font-family: $proxima;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: $primary-color;
    margin-left: 1rem;
    white-space: nowrap;
    @include breakpoint(mobile) {
        font-size: 1rem;
        line-height: 1.8rem;
        margin-left: 0.6rem;
    }
    &--negative {
        color: red;
    }
}
