.intro-slider {
    min-height: 110rem;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    @include breakpoint(mobile) {
       
        min-height: auto;
    }
}

.intro-slider__backgrounds-wrapper {
    position: absolute;
    left: calc((100vw - 100%) / 2 * -1);
    width: 100vw;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: $blue;
    color: white;
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(0deg, #ffffff 3.89%, rgba(255, 255, 255, 0.0001) 56.53%), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(0, 0, 0, 0.8) -23.27%, rgba(0, 0, 0, 8e-5) 46.47%);
        z-index: 20;
    }
}

.intro-slider__backgrounds-list {
    width: 100%;
    height: 100%;
    position: relative;
}

.intro-slider__backgrounds-list-item {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0s linear 0.5s;
    z-index: 1;
    &.active {
        z-index: 10;
        opacity: 1;
        transition: opacity 0.5s;
    }
}

.intro-slider__backgrounds-card {
    width: 100%;
    height: 100%;
    img,
    video {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        @include objectFitCover();
    }

    video {
        z-index: 5;
    }
}

.intro-slider__navigation {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 60;
    margin-bottom: 52rem;

    @include breakpoint(mobile) {
        margin-bottom: 0;
        bottom: auto;
        top: 14rem;
    }
}

.intro-slider__navigation-list {
    position: relative;
    &::after {
        content: '';
        width: 1px;
        height: 7.7rem;
        background-color: rgba(white, 0.6);
        // position: absolute;
        top: 100%;
        left: 0;
        display: block;
        margin-top: 1rem;
        margin-left: 12rem;
        @include breakpoint(mobile) {
            display: none;
        }
    }
}


.intro-slider__navigation-link {
    font-family: $montserrat;
    font-weight: 800;
    font-size: 3.6rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: 0.5rem 0;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    user-select: none;
    transition: color 0.2s;
    @include noHighlight();

    @include breakpoint(mobile) {
        font-size: 2rem;
        line-height: 2.4rem;
    }
    &:link,
    &:visited {
        color: rgba(white, 0.6);
    }

    .no-touch &:not(.active):hover,
    .touch &:not(.active):active {
        color: rgba(white, 0.7);
    }
    &.current {
        &::after {
            width: 100%;
            transition: width 6s linear;
        }
    }

    &.active {
        color: white;
    }

    &::after {
        content: attr(data-text);
        font-family: $montserrat;
        font-weight: 800;
        font-size: 3.6rem;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        padding: 0.5rem 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        color: white;
        z-index: 20;
        overflow: hidden;

        @include breakpoint(mobile) {
            font-size: 2rem;
            line-height: 2.4rem;
        }
    }
}

.intro-slider__contents {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.intro-slider__contents-list {
    position: relative;
    flex-grow: 1;
    margin-top: 17rem;
    display: flex;
    flex-direction: column;
    @include breakpoint(mobile) {
        margin-top: 10rem;
    }
}

.intro-slider__contents-list-item {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.6s, visibility 0s linear 0.6s;
    z-index: 1;
    display: flex;
    flex-direction: column;
    > * {
        margin: 0 !important;
    }

    &.active {
        position: relative;
        opacity: 1;
        visibility: visible;
        z-index: 2;

        transition: all 0.6s;
    }
}

.intro-slider__contents-card {
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.intro-slider__description {
    max-width: 40rem;
    font-family: $proxima;
    font-size: 1.8rem;
    line-height: 1.33;
    margin: auto;
    margin-right: 0;
    margin-top: 9rem;
    @include breakpoint(mobile) {
        max-width: auto;
        margin: 0;
        font-size: 1.4rem;
        line-height: 1.8rem;
        margin-top: 19rem;
        display: flex;
        align-items: flex-end;
        &::before {
            content: '';
            width: 1px;
            flex-basis: 1px;
            flex-shrink: 0;
            align-self: stretch;
            display: block;
            background-color: #fff;
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
}

.intro-slider__description-text {
    @include breakpoint(mobile) {
        width: 50%;
        flex-grow: 1;
        align-self: center;
        padding: 1rem 0;
    }
}

.intro-slider__description-link {
    display: inline-flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 6rem;
    padding: 1.2rem 2rem;
    padding-top: 1.3rem;
    flex-shrink: 0;
    user-select: none;
    font-size: 1.6rem;
    margin-top: 2rem;
    transition: all 0.2s;
    @include breakpoint(mobile) {
        border-radius: 50%;
        padding: 0;
        width: 4.8rem;
        height: 4.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
    }
    svg {
        fill: white;
        flex-shrink: 0;
        margin-left: 1.2rem;
        width: 0.8rem;
        height: 1.2rem;
        transition: fill 0.2s;
        @include breakpoint(mobile) {
            margin-left: 0;
        }
    }
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: $primary-color;
        border-color: $primary-color;
    }
}

.intro-slider__description-link-text {
    @include breakpoint(mobile) {
        display: none;
    }
}









.intro-slider__inner-slider-pagination {
    @include pagination();
}
