.press-center-top {
    position: relative;
    min-height: 89rem;
    color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 8rem;

    @include breakpoint(small-mobile) {
        min-height: 68rem;
        margin-bottom: 6rem;
    }
}

.press-center-top__fullwidth {
    position: absolute;
    left: calc((100vw - 100%) / 2 * -1);
    width: 100vw;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.press-center-top__background-slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.press-center-top__background-slider-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
   
    overflow: hidden;
    transform: translateZ(0);
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        background-color: $blue;
    }

    &.active {
        opacity: 1;
        transition: opacity 0.2s;
        transition: none;
        z-index: 10;
       
    }
}


@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.press-center-top__background-slider-item.active ~ .press-center-top__background-slider-item {
    .press-center-top__background-slider-image {
        transform: translateZ(0) translate(-50%, -50%) scale(1.2) translateX(8.333%);
    }
}

.press-center-top__background-slider-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    @include objectFitCover();
    transition: transform 0.5s ease-in;
    left: 50%;
    top: 50%;
    transform: translateZ(0) translate(-50%, -50%) scale(1.2) translateX(-8.333%);
    will-change: transform;
    // opacity: 0;
    // display: none;
    .press-center-top__background-slider-item.active & {
        transform: translateZ(0) translate(-50%, -50%) scale(1.2) translateX(0) !important;
        transition: transform .5s ease-out, opacity .2s;
        // opacity: 1;
    }
}

.press-center-top__background-slider-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(180deg, rgba(4, 0, 37, 0.8) 0.13%, rgba(4, 0, 37, 0.6) 34.89%, rgba(3, 0, 37, 0.9) 100%);
    z-index: 14;
    opacity: 0.4;
    transition: opacity 0.3s;
    .press-center-top__background-slider-item.active & {
        opacity: 1;
        transition: opacity 0.3s ease 0.8s;
    }
}

.press-center-top__content-slider {
    flex-grow: 1;
    padding-top: 20rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(small-mobile) {
        padding-top: 12rem;
    }
}

.press-center-top__content-slider-heading {
    font-size: 2.8rem;
    line-height: 1.2;
    font-family: $montserrat;
    font-weight: 800;
    margin-bottom: 3rem;

    @include breakpoint(small-mobile) {
        margin-bottom: 3rem;
        font-size: 2.4rem;
    }
}

.press-center-top__content-slider-wrapper {
    flex-grow: 1;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.press-center-top__content-slider-list {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.press-center-top__content-slider-list-item {
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 0.2s;
    transform: translateZ(0);
    backface-visibility: hidden;
    will-change: opacity;
    &.active {
        position: static;
        z-index: 10;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s;
    }
}

.press-center-top__content-slider-card {
    display: block;
    max-width: 82rem;
    transform: translateZ(0) translateY(5rem);
    transition: all 0.3s;
    opacity: 0;
    will-change: transform opacity;
    @include noHighlight();
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        .press-center-top__content-slider-card-circle {
            border-color: $primary-color;
            background-color: $primary-color;
        }
    }

    .press-center-top__content-slider-list-item.active & {
        transform: translateZ(0) translateY(0);
        opacity: 1;
        transition: transform .4s ease 1s, opacity 0.3s ease 1s;
    }
}

.press-center-top__content-slider-card-label {
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: 0.16em;
    background-color: $primary-color;
    padding: 0.4rem 1rem;
    border-radius: 3px;
    margin-bottom: 2rem;
    text-transform: uppercase;
    align-self: flex-start;
    display: inline-block;
}

.press-center-top__content-slider-card-heading {
    font-family: $montserrat;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.36;
    margin-bottom: 3.7rem;

    @include breakpoint(small-mobile) {
        font-size: 1.8rem;
        margin-bottom: 3rem;
    }
}

.press-center-top__content-slider-card-circle {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;
    border: 1px solid white;
    flex-shrink: 0;
    transition: all 0.2s;
    @include breakpoint(small-mobile) {
        width: 5rem;
        height: 5rem;
    }
    > svg {
        fill: white;
        width: 0.8rem;
        height: 1.6rem;
        margin-left: 0.2rem;
        @include breakpoint(small-mobile) {
            width: 0.7rem;
            height: 1.4rem;
        }
    }
}

.press-center-top__content-slider-navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: -1.2rem;

    @include breakpoint(mobile) {
        flex-wrap: nowrap;
        margin: 0;
        margin: 0 calc(-1 * var(--content-padding));
        padding: 0 var(--content-padding);
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        &::after {
            content: '';
            display: block;
            height: 1px;
            width: 1px;
            flex-shrink: 0;
        }
    }
}

.press-center-top__content-slider-navigation-list-item {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    @include breakpoint(mobile) {
        width: 85%;
        padding: 0;
        margin-right: 1.2rem;
        flex-shrink: 0;
    }
}

.press-center-top__content-slider-navigation-card {
    display: flex;
    flex-direction: column;
    padding-top: 2.7rem;
    padding-bottom: 3.7rem;
    flex-grow: 1;
    border-top: 1px solid rgba(#f4f4f4, 0.3);
    transition: border-color 0.2s;
    user-select: none;
    @include noHighlight();
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:not(.active):hover,
    .touch &:not(.active):active {
        border-color: rgba(#f4f4f4, 0.6);
        .press-center-top__content-slider-navigation-card-text {
            color: rgba(white, 0.8);
        }
    }

    &.active {
        border-color: white;
        .press-center-top__content-slider-navigation-card-text {
            color: white;
        }
    }

    .navigation-disabled & {
        cursor: default;
    }
}

.press-center-top__content-slider-navigation-card-text {
    color: rgba(white, 0.7);
    font-weight: 700;
    font-family: $montserrat;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    transition: color 0.2s;
}

.press-center-top__content-slider-navigation-card-date {
    font-family: $proxima;
    font-size: 1.2rem;
    line-height: 1.25;
    color: rgba(white, 0.5);
    margin-top: auto;
}
