.press-center-main__navigation {
    display: flex;
    align-items: center;

    @include breakpoint(tablet) {
        flex-direction: column;
        align-items: initial;
    }
}

.press-center-main__navigation-list {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin: -0.6rem;
}

.press-center-main__navigation-list-item {
    padding: 0.6rem;
}

.press-center-main__navigation-link {
    font-family: $fira;
    font-size: 1.4rem;
    padding: 0.6rem 1rem;
    line-height: 1.28;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: border-color 0.2s;
    &:link,
    &:visited {
        color: black;
    }

    .press-center-main__navigation-list-item.active &,
    .no-touch &:hover,
    .touch &:active {
        border-color: $primary-color;
    }
}

.press-center__search-form {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-shrink: 0;

    @include breakpoint(tablet) {
        margin-left: 0;
        margin-bottom: 4rem;
        order: -1;
    }


    
}

.press-center__search-input {
    font: inherit;
    font-family: $proxima;
    color: black;
    font-size: 1.6rem;
    padding: 0;
    width: 14rem;
    flex-shrink: 0;

    @include breakpoint(tablet) {
        width: 100%;
        flex-shrink: 1;
    }

    @include placeholder {
        color: #8e8e8e;
    }
}

.press-center__search-submit {
    flex-shrink: 0;
    svg {
        width: 2.4rem;
        height: 2.4rem;
        fill: #c2c2c2;
        flex-shrink: 0;
        transition: fill 0.2s;
    }

    .no-touch &:hover,
    .touch &:active {
        svg {
            fill: $primary-color;
        }
    }
}

.press-center-main__cards {
    display: flex;
    flex-direction: column;
}

.press-center-main__cards-list {
    display: flex;
    flex-wrap: wrap;
    margin: -2rem -2.7rem;
    @supports (display: grid) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: dense;
        grid-column-gap: 5.4rem;
        grid-row-gap: 4rem;
        margin: 0;
        @include breakpoint(small-mobile) {
            grid-template-columns: 100%;
        }
    }
}

.press-center-main__cards-list-item {
    padding: 2rem 2.7rem;
    width: 50%;
    display: flex;
    flex-direction: column;

    @include breakpoint(small-mobile) {
        width: 100%;
    }
    @supports (display: grid) {
        padding: 0;
        width: auto;
        grid-column: span 1;
    }
    &--fullwidth {
        width: 100%;
        @supports (display: grid) {
            width: auto;
            grid-column: span 2;
            @include breakpoint(small-mobile) {
                grid-column: span 1;
            }
        }
    }
}

.press-center-main__cards-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: black;
    &:link,
    &:visited {
        color: black;
    }

    .no-touch &:hover,
    .touch &:active {
        .press-center-main__cards-card-title {
            color: $primary-color;
        }
    }
}

.press-center-main__cards-card-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    backface-visibility: hidden;
    margin-bottom: 1.7rem;
    &::after {
        content: '';
        padding-bottom: 56.25%;
        width: 100%;
        display: block;
    }
}

.press-center-main__cards-card-image {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    @include objectFitCover();
}

.press-center-main__cards-card-date {
    font-family: $proxima;
    font-size: 1.2rem;
    line-height: 1.25;
    color: #898989;
    margin-bottom: 1.5rem;
}

.press-center-main__cards-card-title {
    font-weight: 700;
    font-family: $montserrat;
    font-size: 1.8rem;
    line-height: 1.33;
    transition: color 0.2s;
}

.press-center-main__cards-special-card {
    color: black;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 3rem;
    padding-bottom: 4rem;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    @include breakpoint(desktop) {
        padding-bottom: 3rem;
    }
    &:link,
    &:visited {
        color: black;
    }

    .no-touch &:hover,
    .touch &:active {
        .press-center-main__cards-special-card-circle {
            border-color: $primary-color;
            background-color: $primary-color;
            > svg {
                fill: white;
            }
        }
    }
}

.press-center-main__cards-special-card-label {
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: 0.16em;
    background-color: $primary-color;
    padding: 0.4rem 1rem;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    align-self: flex-start;
    display: inline-block;
    color: white;
}

.press-center-main__cards-special-card-heading {
    font-family: $montserrat;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1.33;
    margin-bottom: 2.2rem;
    @include breakpoint(desktop) {
        font-size: 2.2rem;
        margin-bottom: 1.5rem;
    }

    
}

.press-center-main__cards-special-card-text {
    font-family: $proxima;
    font-size: 1.6rem;
    line-height: 1.375;
    margin-bottom: 3rem;
    @include breakpoint(desktop) {
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }
}

.press-center-main__cards-special-card-circle {
    margin-top: auto;
    margin-left: auto;
    flex-shrink: 0;
    width: 4.2rem;
    height: 4.2rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #cbcbcb;
    border-radius: 50%;
    transition: all 0.2s;
    > svg {
        fill: $primary-color;
        width: 0.6rem;
        height: 1rem;
        margin-left: 0.1rem;
        transition: fill 0.2s;
    }
}

.press-center-main__news-slider {
    position: relative;
}

.press-center-main__news-slider-card {
    display: block;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    backface-visibility: hidden;

    .no-touch &:hover,
    .touch &:active {
        .press-center-main__news-slider-card-content-type {
            transform: translate(-50%, -50%) scale(1.05);
        }

        .press-center-main__news-slider-card-image {
            transform: scale(1.02);
        }
    }
}

.press-center-main__news-slider-card-container {
    position: relative;
    &::before {
        content: '';
        width: 100%;
        padding-bottom: 56.25%;
        display: block;
        @include breakpoint(small-mobile) {
            padding-bottom: 100%;
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
        z-index: 4;
    }
}

.press-center-main__news-slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    @include objectFitCover();
    transition: transform 0.3s ease-out;
}

.press-center-main__news-slider-card-label {
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: 0.16em;
    background-color: $primary-color;
    padding: 0.4rem 1rem;
    border-radius: 3px;
    text-transform: uppercase;
    align-self: flex-start;
    display: inline-block;
    color: white;
    position: absolute;
    top: 5.4rem;
    left: 5rem;
    @include breakpoint(desktop) {
        top: 3rem;
        left: 3rem;
    }
}

.press-center-main__news-slider-card-heading {
    position: absolute;
    font-family: $montserrat;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1.26;
    color: white;
    left: 5rem;
    right: 5rem;
    bottom: 5.2rem;
    max-width: 45rem;
    z-index: 8;
    @include breakpoint(desktop) {
        left: 3rem;
        bottom: 3rem;
        font-size: 2.2rem;
    }

    @include breakpoint(small-mobile) {
        font-size: 1.8rem;
    }
}

.press-center-main__news-slider-card-content-type {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 9.5rem;
    height: 9.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    border-radius: 50%;
    z-index: 6;
    transition: transform 0.3s ease-out;
    @include breakpoint(desktop) {
        width: 7rem;
        height: 7rem;
    }

    @include breakpoint(small-mobile) {
        width: 5.5rem;
        height: 5.5rem;
    }
    > svg {
        fill: white;

        width: 3.2rem;
        height: 3.2rem;
        @include breakpoint(desktop) {
            width: 2.4rem;
            height: 2.4rem;
        }
        @include breakpoint(small-mobile) {
            width: 2rem;
            height: 2rem;
        }
        &.icon-play {
            margin-left: 0.5rem;
            @include breakpoint(desktop) {
                margin-left: 0.3rem;
            }
        }
    }
}

.press-center-main__news-slider-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 5rem;
    bottom: 5.2rem;
    z-index: 12;
    @include breakpoint(desktop) {
        bottom: 3rem;
        right: 3rem;
    }


    @include breakpoint(small-mobile) {
        position: static;
        margin-top: 1.5rem;
        
    }
}

.press-center-main__news-slider-btn {
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;
    border: 1px solid white;
    margin-right: 1rem;
    flex-shrink: 0;
    transition: background-color 0.2s, border-color 0.2s;

    @include breakpoint(small-mobile) {
        border-color: $primary-color;
    }

    &.swiper-button-disabled {
        opacity: 0.5;
        cursor: default;
    }
    svg {
        fill: white;
        width: 0.8rem;
        height: 1.6rem;
        transition: fill 0.2s;
        @include breakpoint(small-mobile) {
            fill: $primary-color;
        }
    }

    .no-touch &:not(.swiper-button-disabled):hover,
    .touch &:not(.swiper-button-disabled):active {
        background-color: $primary-color;
        border-color: $primary-color;
        svg {
            fill: white;
        }
    }

    &--prev {
        svg {
            margin-right: 0.2rem;
        }
    }
    &--next {
        svg {
            margin-left: 0.2rem;
        }
    }
    &:last-child {
        margin-right: 0;
    }
}


.press-center-main__news-slider-btn-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.press-center-main__cards-more-link {
    color: $primary-color;
    font-weight: 800;
    font-family: $montserrat;
    font-size: 2.8rem;
    line-height: 1.2;
    display: inline-flex;
    align-items: baseline;
    margin-left: auto;
    margin-top: 8rem;
    transition: color .2s;
    @include breakpoint(small-mobile) {
        margin-top: 6rem;
        font-size: 2rem;
    }
    svg {
        fill: $primary-color;
        width: 0.8rem;
        height: 1.4rem;
        flex-shrink: 0;
        margin-left: 2.2rem;
        transition: fill .2s;
    }
    &:link,
    &:visited {
        color: $primary-color;
    }

    .no-touch &:hover,
    .touch &:active {
        color: black;
        svg {
            fill: black;
        }
    }
}