{% set title = "ТАИФ Главная" %}
{% set activePage = "Home" %}
{% extends "layout.html" %}
{% block content %}
    {% include "blocks/intro-slider.html" %}
    {% include "blocks/press-center-slider.html" %}
    {% include "blocks/learn-more.html" %}
    {% include "blocks/info-cards.html" %}

    <section class="inner-slider-test">
        <div class="inner-container">
            <div class="inner-container__left-column"></div>
            <div class="inner-container__right-column">
                <div class="inner-slider js-inner-slider">
                    <div class="inner-slider__wrapper">
                        <div class="inner-slider__slide">
                            <div class="inner-slider__slide-card">
                                1
                            </div>
                        </div>
                        <div class="inner-slider__slide">
                            <div class="inner-slider__slide-card">
                                2
                            </div>
                        </div>
                        <div class="inner-slider__slide">
                            <div class="inner-slider__slide-card">
                                3
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}