.main-nav {
    margin-left: auto;
    @include breakpoint(mobile) {
        margin: 0;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.8);
        backdrop-filter: blur(5px);
        z-index: 6000;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0s linear 0.3s;
        padding-top: 1.7rem;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        padding-left: var(--content-padding);
        padding-right: var(--content-padding);
        overscroll-behavior: contain;
        &.shown {
            opacity: 1;
            visibility: visible;
            transition: all 0.3s;
        }
    }
}



.main-nav__list {
    display: flex;
    flex-wrap: wrap;
    margin: -2.5px;
    @include breakpoint(mobile) {
        margin: 0;
        display: block;
    }
}

.main-nav__list-item {
    padding: 2.5px;
    position: relative;
    &--home {
        @include breakpoint(mobile) {
            display: none;
        }
    }
    @include breakpoint(mobile) {
        padding: 0;
        border-bottom: 1px solid rgba(white, 0.3);
        overflow: hidden;
    }
    &:hover {
        .main-nav__link {
            border-color: $primary-color;
        }

        .main-nav__submenu-wrapper {
            opacity: 1;
            visibility: visible;
            transition: all 0.2s;
            transform: translateY(0);
        }
    }
}

.main-nav__link {
    display: block;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.6rem;
    line-height: 1.4;
    padding: 0.7rem 1.5rem;
    text-align: center;
    transition: border-color 0.2s;
    user-select: none;
    @include noHighlight();

    .icon-arrow-down {
        display: none;
    }

    @include breakpoint(mobile) {
        text-align: left;
        font-family: $montserrat;
        font-size: 1.4rem;
        line-height: 2.3rem;
        display: flex;
        align-items: center;
        border: none;
        padding: 2rem 0;
        .icon-arrow-down {
            fill: $primary-color;
            width: 1.6rem;
            height: 0.8rem;
            margin-right: 1.7rem;
            flex-shrink: 0;
            display: block;
            margin-bottom: 0.2rem;
            transition: transform .2s;
        }
    }

    &:link,
    &:visited {
        color: white;
    }

    &:hover {
        border-color: $primary-color;
    }


    &.active {
        .icon-arrow-down {
            transform: rotate(180deg);
        }
    }
}

.main-nav__submenu-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 1.5rem;

    opacity: 0;
    visibility: hidden;
    transition: transform 0.2s, opacity 0.2s, visibility 0s linear 0.2s;
    transform: translateY(2rem);
    width: max-content;
    max-width: 40rem;
    @include breakpoint(mobile) {
        position: static;
        padding: 0;
        width: 100%;
        transform: translateY(0) translateZ(0);
        backface-visibility: hidden;
        max-width: none;
        max-height: 0;
        

        
        opacity: 1;
        visibility: inherit;

       
        transition: height .2s linear, max-height .2s linear;
        overflow: hidden;
    }
}

.main-nav__submenu-list {
    background-color: #fff;
    border-radius: 4px;
    padding: 1.5rem 0;
    box-shadow: 0 9px 24px rgba(black, 0.1);
    @include breakpoint(mobile) {
        box-shadow: none;
        border-radius: 0;
        padding: 0;
        background-color: transparent;
        display: flex;
        flex-direction: column;
    }
}

.main-nav__submenu-list-item {
    @include breakpoint(mobile) {
        margin-bottom: 1.6rem;
        &:last-child {
            margin-bottom: 2.6rem;
        }
    }
}

.main-nav__submenu-link {
    display: block;
    font-size: 1.4rem;
    line-height: 1.35;
    padding: 0.7rem 2rem;
    transition: background-color 0.2s, color 0.2s;
    user-select: none;
    @include noHighlight();

    &:link,
    &:visited {
        color: black;
    }

    .no-touch &:hover,
    .touch &:active {
        background: #f4f8fb;
        color: $primary-color;
    }

    @include breakpoint(mobile) {
        font-size: 1.1rem;
        line-height: 1.8rem;
        font-family: $montserrat;
        padding: 0;
        padding-left: 4.5rem;

        &:link,
        &:visited {
            color: white;
        }

        .no-touch &:hover,
        .touch &:active {
            background: transparent;
            color: $primary-color;
        }
    }
}


.main-nav__mobile-top-row {
    display: none;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5.5rem;
    @include breakpoint(mobile) {
        display: flex;
    }
}


.main-nav__mobile-top-row-logo {
    width: 5.5rem;
    height: auto;
}


.main-nav__mobile-top-row-menu-close {
    margin-right: 0.3rem;
    svg {
        display: block;
        width: 2rem;
        height: 2rem;
        fill: white;
    }
}



.main-nav__contacts {
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: none;
    @include breakpoint(mobile) {
        display: block;
    }
}


.main-nav__contacts-address {
    font-size: 1.2rem;
    line-height: 1.9rem;
    display: block;
    transition: color .2s;
    @include noHighlight();
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        color: $primary-color;
    }
}


.main-nav__contacts-phone {
    font-family: $montserrat;
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 800;
    margin-top: 2.4rem;
    display: block;
    transition: color .2s;
    @include noHighlight();
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        color: $primary-color;
    }
}


.main-nav__contacts-email {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.6rem;
    margin-top: 0.5rem;
    display: block;
    transition: color .2s;
    @include noHighlight();
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        color: $primary-color;
    }
}