.main-nav {
    margin-left: auto;
}

.main-nav__list {
    display: flex;
    flex-wrap: wrap;
    margin: -2.5px;
}

.main-nav__list-item {
    padding: 2.5px;
    position: relative;
    &:hover {
        .main-nav__link {
            border-color: $primary-color;
        }

        .main-nav__submenu-wrapper {
            opacity: 1;
            visibility: visible;
            transition: all 0.2s;
            transform: translateY(0);
        }
    }
}

.main-nav__link {
    display: block;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 1.6rem;
    line-height: 1.4;
    padding: 0.7rem 1.5rem;
    text-align: center;
    transition: border-color 0.2s;
    user-select: none;
    @include noHighlight();
    &:link,
    &:visited {
        color: white;
    }

    &:hover {
        border-color: $primary-color;
    }
}

.main-nav__submenu-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 1.5rem;

    opacity: 0;
    visibility: hidden;
    transition: transform 0.2s, opacity 0.2s, visibility 0s linear 0.2s;
    transform: translateY(2rem);
    width: max-content;
    max-width: 40rem;
}

.main-nav__submenu-list {
    background-color: #fff;
    border-radius: 4px;
    padding: 1.5rem 0;
    box-shadow: 0 9px 24px rgba(black, 0.1);
}

.main-nav__submenu-link {
    display: block;
    font-size: 1.4rem;
    line-height: 1.35;
    padding: 0.7rem 2rem;
    transition: background-color 0.2s, color 0.2s;
    user-select: none;
    @include noHighlight();
    &:link,
    &:visited {
        color: black;
    }

    .no-touch &:hover,
    .touch &:active {
        background: #f4f8fb;
        color: $primary-color;
    }
}
