.page-footer {
    color: black;
    padding: 5rem 0;
}


.page-footer__top-row {
    display: flex;

   
    @include breakpoint(mobile) {
        flex-wrap: wrap;
        margin: -1rem;  

        > * {
            padding: 1rem;
            width: 50%;
        }
    }
}


.page-footer__bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9rem;
    padding-left: var(--left-inner-padding, 100px);


    @include breakpoint(mobile) {
        padding-left: 0;
        margin-top: 0;
        justify-content: initial;
        align-items: initial;
        flex-direction: column;
        padding-top: 3rem;
    }
}


.page-footer__user-policy,
.page-footer__made-by {
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.5rem;
    transition: color .2s;
    &:link,
    &:visited {
        color: rgba(black, .7);
    }

    .no-touch &:hover,
    .touch &:active {
        color: $primary-color;
    }
}


.page-footer__user-policy {
    @include breakpoint(mobile) {
        margin-bottom: 1rem;
    }
}

.page-footer__made-by-logo {
    width: 6.6rem;
    display: inline-block;
    vertical-align: baseline;
    position: relative;
    top: .7rem;
    margin-left: 1rem;
}

.page-footer__logo {
    flex-shrink: 0;
    width: var(--left-inner-padding, 100px);

   
    @include breakpoint(mobile) {
        order: -2;
        width: 50%;
        margin-right: 0;
    }
}

.page-footer__logo-link {
    display: inline-block;
    vertical-align: top;
}


.page-footer__logo-image {
    display: inline-block;
    vertical-align: top;
    width: 7rem;
    height: auto;
}


.page-footer__nav {
    max-width: 68rem;
    margin-right: 5rem;
    @include breakpoint(laptop) {
        max-width: none;
    }

   
    @include breakpoint(mobile) {
        max-width: none;
        margin-right: 0;
        width: 100%;
    }
}

.page-footer__nav-blocks {
    display: flex;
    flex-wrap: wrap;
    margin: -2.8rem -3.5rem;

    @include breakpoint(tablet) {
        margin: -1.5rem;
    }
    @include breakpoint(mobile) {
        margin: -2rem -1rem;
    }
}

.page-footer__nav-block {
    padding: 2.8rem 3.5rem;
    width: 33.33%;
    
    @include breakpoint(tablet) {
        padding: 1.5rem;
    }
    @include breakpoint(mobile) {
        padding: 2rem 1rem;
        width: 50%;
    }
}


.page-footer__nav-block-heading {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2rem;
    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.6rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }
}


.page-footer__nav-list-item {
    margin-bottom: .8rem;
    @include breakpoint(mobile) {
        margin-bottom: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}


.page-footer__nav-link {
    font-size: 1.4rem;
    transition: color .2s;
    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    &:link,
    &:visited {
        color: black;
    }


    .no-touch &:hover,
    .touch &:active {
        color: $primary-color;
    }
}


.page-footer__contacts {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    flex-shrink: 0;
    @include breakpoint(mobile) {
        order: -1;
        width: 50%;
        max-width: auto;
        margin: 0;
    }
}


.page-footer__contacts-address {
    font-size: 1.4rem;
    line-height: 1.33;
    margin-bottom: 3rem;
    transition: color .2s;
    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.9rem;
        margin-bottom: 2rem;
    }
    &:link,
    &:visited {
        color: black;
    }

    .no-touch &:hover,
    .touch &:active {
        color: $primary-color;
    }
}


.page-footer__contacts-phone {
    font-weight: 800;
    font-size: 2rem;
    font-family: $montserrat;
    margin-bottom: 0.5rem;
    transition: color .2s;
    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
    &:link,
    &:visited {
        color: black;
    }

    .no-touch &:hover,
    .touch &:active {
        color: $primary-color;
    }
}



.page-footer__contacts-email {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.33;
    margin-bottom: 3rem;
    transition: color .2s;
    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.6rem;
        margin-bottom: 1rem;
    }
    &:link,
    &:visited {
        color: black;
    }

    .no-touch &:hover,
    .touch &:active {
        color: $primary-color;
    }
}



.page-footer__contacts-social-list {
    display: flex;
    flex-wrap: wrap;
    margin: -1.6rem;

    @include breakpoint(mobile) {
        display: none;
    }
}


.page-footer__contacts-social-list-item {
    width: 25%;
    padding: 1.6rem;
}


.page-footer__contacts-social-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    svg {
        width: 2rem;
        height: 2rem;
        fill: #C4C4C4;
        transition: fill .2s;
    }


    .no-touch &:hover,
    .touch &:active {
        svg {
            fill: $primary-color;
        }
    }
}



.page-footer__shortcuts {
    width: 36rem;
    margin-left: 5rem;
    @include breakpoint(desktop) {
        width: 30rem;
    }

    @include breakpoint(laptop) {
        display: none;
    }

    @include breakpoint(mobile) {
        width: 100%;
        display: block;
        margin-left: 0;
        padding-top: 2rem;
       
       
    }
}



.page-footer__shortcuts-list {
    @include breakpoint(mobile) {
        display: flex;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        margin: 0 calc(-1 * var(--content-padding));
        padding: 0 var(--content-padding);
        flex-wrap: nowrap;
        &::after {
            content: '';
            width: var(--content-padding);
            height: 1px;
            display: block;
            flex-shrink: 0;
        }
       
        .is-touch &::-webkit-scrollbar {
            display: none;
        }
    }

}



.page-footer__shortcuts-list-item {
    margin-bottom: 2rem;
    @include breakpoint(mobile) {
        margin-bottom: 0;
        
        flex-shrink: 0;
        margin-right: 2rem;
        min-width: 75%;
        &:last-child {
            margin-right: 0;
        }
        
    }
    &:last-child {
        margin-bottom: 0;
    }
}


.page-footer__shortcuts-link {
    font-family: $proxima;
    font-size: 1.8rem;
    line-height: 1.33;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.4rem 3.8rem;
    border: 1px solid $primary-color;
    border-radius: 4px;
    transition: all .2s;
    user-select: none;
    @include noHighlight();
    @include breakpoint(desktop) {
        padding: 2rem 2.5rem;
        font-size: 1.6rem;
    }

    @include breakpoint(mobile) {
        font-size: 1.2rem;
        line-height: 1.6rem;
        padding: 2.4rem 1.8rem;
        white-space: nowrap;
        


       
    }
    &:link,
    &:visited {
        color: black;
    }


    .no-touch &:hover,
    .touch &:active {
        background-color: $primary-color;
        color: white;

        .page-footer__shortcuts-link-circle {
            border-color: white;
            background-color: #fff;
        }
    }
}


.page-footer__shortcuts-link-circle {
    width: 4.2rem;
    height: 4.2rem;
    flex-shrink: 0;
    border: 1px solid $primary-color;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    transition: all .2s; 
    @include breakpoint(mobile) {
        width: 3.4rem;
        height: 3.4rem;
    }
    svg {
        width: 0.6rem;
        height: 1rem;
        fill: $primary-color;
        margin-left: .1rem;
        @include breakpoint(mobile) {
            width: 0.5rem;
            height: 0.8rem;
            margin-left: .05rem;
        }
    }
}