// Colors

$primary-color: #1EAC72;
$blue: #41537A;



// Fonts


$open-sans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$proxima: 'Proxima Nova', sans-serif;
$fira: 'Fira Sans', sans-serif;