.page-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 4rem 0;
    color: white;
    z-index: 100;
    @include breakpoint(mobile) {
        padding: 1.7rem 0;
    }
}

.page-header__row {
    display: flex;
    align-items: flex-start;
}

.page-header__company-structure {
    width: var(--left-inner-padding, 100px);
    flex-shrink: 0;
    font-size: 1.6rem;
    line-height: 1.4;
    display: flex;
    align-items: flex-start;
    @include breakpoint(mobile) {
        width: auto;
        font-size: 1.2rem;
        line-height: 1.6rem;
    }
    &:link,
    &:visited {
        color: white;
    }

    .page-header--color & {
        &:link,
        &:visited {
            color: black;
        }
    }
}

.page-header__company-structure-burger {
    flex-shrink: 0;
    margin-right: 1.5rem;
    margin-top: 0.3rem;

    @include breakpoint(mobile) {
        display: none;
    }
    > span {
        display: block;
        width: 15px;
        height: 1px;
        background-color: #fff;
        margin-bottom: 5px;
    }

    .page-header--color & {
        > span {
            background-color: black;
        }
    }
}

.page-header__company-structure-text {
    @include breakpoint(mobile) {
        margin-top: 1.2rem;
    }
}

.page-header__logo {
    margin-right: 3rem;
    flex-shrink: 0;
    @include breakpoint(mobile) {
        order: -1;
        margin-right: 2.4rem;
    }
}

.page-header__logo-image {
    width: 10rem;

    height: auto;
    display: block;
    @include breakpoint(mobile) {
        width: 5.5rem;
    }
}

.page-header__contacts {
    margin-left: 5rem;
    display: flex;
    align-items: center;
    @include breakpoint(laptop) {
        display: none;
    }
}

.page-header__contacts-info {
    margin-right: 3rem;
}

.page-header__contacts-link {
    font-size: 1.6rem;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    display: block;
    white-space: nowrap;
    user-select: none;
    transition: color 0.2s;
    @include noHighlight();
    &:link,
    &:visited {
        color: white;
    }

    .page-header--color & {
        &:link,
        &:visited {
            color: black;
        }
    }

    .no-touch &:hover,
    .touch &:active {
        color: $primary-color;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.page-header__contacts-icon-link {
    flex-shrink: 0;
    width: 5.4rem;
    height: 5.4rem;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;

    > svg {
        fill: white;
        width: 2rem;
        height: 2rem;
        transition: fill 0.2s;
    }

    .page-header--color & {
        border-color: $primary-color;
        > svg {
            fill: $primary-color;
        }
    }

    .no-touch &:hover,
    .touch &:active {
        background-color: $primary-color;
        border-color: $primary-color;
    }

    .page-header--color & {
        .no-touch &:hover,
        .touch &:active {
            > svg {
                fill: white;
            }
        }
    }
}

.page-header__company-structure-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(black, 0.92);
   
    z-index: 5000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    z-index: 15000;
    @include breakpoint(mobile) {
        background-color: rgba(black, 0.8);
        backdrop-filter: blur(5px);
    }
    &.active {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s;
    }
}

.page-header__company-structure-wrapper {
    display: flex;
    padding: 4rem 0;
    padding-bottom: 0;
    @include breakpoint(mobile) {
        padding-top: 1.7rem;
    }
}

.page-header__company-structure-left-column {
    width: var(--left-inner-padding);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        width: 0;
    }
}

.page-header__company-structure-vertical-bar {
    height: 5px;
    width: 1px;
    flex-grow: 1;
    margin-left: auto;
    margin-right: 7.6rem;
    background-color: rgba(white, 0.2);
    margin-top: 5rem;
    position: relative;
    @include breakpoint(mobile) {
        display: none;
    }
    &::before {
        content: '';
        top: 0;
        left: 100%;
        height: 1px;
        width: 3.8rem;
        background-color: rgba(white, 0.2);
        position: absolute;
    }
}

.page-header__company-structure-right-column {
    width: 50%;
    flex-grow: 1;
}

.page-header__company-structure-menu-close {
    font-size: 1.6rem;
    line-height: 1.33;
    @include breakpoint(mobile) {
        position: absolute;
        right: 2.2rem;
        top: 4.2rem;
    }
    svg {
        fill: white;
        width: 1.2rem;
        height: 1.2rem;
        flex-shrink: 0;
        margin-right: 1.6rem;
        @include breakpoint(mobile) {
            margin-right: 0;
            width: 2rem;
            height: 2rem;
        }
    }
    &:link,
    &:visited {
        color: white;
    }
}

.page-header__company-structure-menu-close-text {
    @include breakpoint(mobile) {
        display: none;
    }
}

.page-header__company-structure-main-heading {
    display: flex;
    align-items: center;
    font-family: $montserrat;
    font-weight: 800;
    font-size: 3.4rem;
    line-height: 1.2;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    margin-bottom: 12rem;
    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 2.4rem;
        padding-right: 4rem;
        margin-bottom: 5rem;
    }
}

.page-header__company-structure-main-heading-logo {
    width: 10rem;
    flex-shrink: 0;
    margin-right: 6rem;
    @include breakpoint(mobile) {
        width: 5.5rem;
        margin-right: 2rem;
    }
}

.page-header__company-structure-block {
    margin-bottom: 5rem;
}

.page-header__company-structure-block-heading {
    font-size: 2.4rem;
    line-height: 1.33;
    font-weight: 800;
    font-family: $montserrat;
    margin-bottom: 3rem;
    @include breakpoint(mobile) {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }
}

.page-header__company-structure-block-list {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid rgba(white, 0.2);
    border-left: 1px solid rgba(white, 0.2);
}

.page-header__company-structure-block-list-item {
    width: 25%;
    border-right: 1px solid rgba(white, 0.2);
    border-bottom: 1px solid rgba(white, 0.2);
    position: relative;
    @include breakpoint(tablet) {
        width: 33.33%;
    }
    @include breakpoint(mobile) {
        width: 50%;
    }
    &:first-child {
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            margin-top: 0.5px;
            right: 100%;
            margin-right: 1px;
            width: 7.6rem;
            height: 1px;
            background-color: rgba(white, 0.2);
        }
    }
}

.page-header__company-structure-block-list-item.hidden ~ .page-header__company-structure-block-list-item {
    display: none;
}

.page-header__company-structure-block-card {
    display: block;
    position: relative;
    .icon-link {
        width: 2.2rem;
        height: 2.2rem;
        position: absolute;
        right: 2.2rem;
        top: 2.2rem;
        fill: $primary-color;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s, visibility 0s linear 0.3s;
        @include breakpoint(mobile) {
            right: 1rem;
            top: 1rem;
        }
    }

    .no-touch &:hover,
    .touch &:active {
        .icon-link {
            opacity: 1;
            visibility: visible;
            transition: all 0.3s;
        }

        .page-header__company-structure-block-card-show-more-text {
            color: #fff;
        }
    }
    &::after {
        content: '';
        padding-bottom: 56.25%;
        display: block;
        width: 100%;
    }
}

.page-header__company-structure-block-card-show-more-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 5;
    text-align: center;
    font-family: $proxima;
    font-size: 1.8rem;
    line-height: 1.33;
    color: rgba(white, 0.8);
    transition: color 0.2s;
    @include breakpoint(mobile) {
        font-size: 1.4rem;
    }
}

.page-header__company-structure-block-image {
    max-width: 65%;
    max-height: 65%;
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-header__burger-btn {
    display: none;
    outline: none;
    align-self: center;
    margin-left: auto;
    @include noHighlight();
    @include breakpoint(mobile) {
        display: block;
    }
}

.page-header__burger-btn-content {
    display: flex;
    flex-direction: column;
    > span {
        width: 2.6rem;
        height: 2px;
        margin-bottom: 0.6rem;
        background-color: #fff;
        flex-shrink: 0;
        transition: all 0.2s;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .page-header--color & {
        > span {
            background-color: black;
        }
    }

    .page-header__burger-btn.active & {
        > span {
            &:nth-child(1) {
                transform: translateY(0.8rem) rotate(45deg);
            }
            &:nth-child(2) {
                opacity: 0;
            }
            &:nth-child(3) {
                transform: translateY(-0.8rem) rotate(-45deg);
            }
        }
    }
}
